<!DOCTYPE html>
<html>

<head>
    <title>{Stl.SeoTitle} - {Stl.SiteName}</title>
    <meta name="description" content="{Stl.Description}" />
    <meta name="keywords" content="{Stl.Keywords}" />
    <meta name="viewport" content="width=750,target-densitydpi=device-dpi,user-scalable=no" />
    <meta name="format-detection" content="telephone=yes">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel='stylesheet' href='/sitefiles/assets/css/bootstrap.min.css' type='text/css' />
    <link rel='stylesheet' href='/sitefiles/assets/css/font-awesome-4.7.0.min.css' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{Stl.SiteUrl}/themes/20210716/css/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="{Stl.SiteUrl}/css/style.css?v=20210624" />
    <link rel="stylesheet" type="text/css" href="{Stl.SiteUrl}/themes/20210716/css/base.css?v=2021071601">
    <link rel="stylesheet" type="text/css" href="{Stl.SiteUrl}/themes/20210716/css/index.css?v=2021071601">
    <script src="/sitefiles/assets/lib/jquery.min.js" type="text/javascript"></script>
    <script src="/sitefiles/assets/lib/layer/layer-3.1.1.js" type="text/javascript"></script>
    <script src="{Stl.SiteUrl}/themes/20210716/js/swiper-bundle.min.js" type="text/javascript"></script>
</head>

<body>
    <div class="nav_top clearfix be000b">
        <img src="{Stl.SiteUrl}/themes/20210716/images/logo.png" class="fl">
        <div class="fl nav_topri">
            <ul class="clearfix">
                <li class="fl step1">
                    <p class="scl nav_toprip1">试用1元起</p>
                    <p class="scl nav_toprip2">7月19日-8月5日</p>
                </li>
                <li class="fl step2">
                    <p class="scl nav_toprip1">爆品直降</p>
                    <p class="scl nav_toprip2">8月6日-8月8日</p>
                </li>
                <li class="fl step3">
                    <p class="scl nav_toprip1">返场特惠</p>
                    <p class="scl nav_toprip2">8月9日-8月31日</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="banner_box">
        <img src="{Stl.SiteUrl}/themes/20210716/images/banner.png" class="banner">
        <img src="{Stl.SiteUrl}/themes/20210716/images/banner_p1.png" class="banner_p1">
    </div>

    <div class="index_box1 be000e">
        <div class="wrap" align="center">
            <p class="ind_bt scb">猪八戒网八月八，企业服务狂欢节，2折起！</p>
            <div class="ind_sbt">
                <p class="ind_sbt1 scm"> <img src="{Stl.SiteUrl}/themes/20210716/images/s_btbacle.png" class="s_btbacle">狂欢福利享不停 <img src="{Stl.SiteUrl}/themes/20210716/images/s_btbacri.png" class="s_btbacri"></p>
                <p class="ind_sbt2 scl">超值优惠券大放送，各种优惠福利享不停</p>
            </div>

            <ul class="clearfix">
                <li class="fl">
                    <div class="clearfix in1li_box">
                        <p class="ind1_p1 scb">￥</p>
                        <p class="ind1_p2 scb">100</p>
                    </div>
                    <p class="ind1_p3 scr">满1000元使用</p>
                    <p class="ind1_p4 scm requireLink" data-title="超值优惠券大放送，各种优惠福利享不停" data-successTxt="优惠券领取成功！">立即领取</p>
                </li>

                <li class="fl">
                    <div class="clearfix in1li_box">
                        <p class="ind1_p1 scb">￥</p>
                        <p class="ind1_p2 scb">200</p>
                    </div>
                    <p class="ind1_p3 scr">满2000元使用</p>
                    <p class="ind1_p4 scm requireLink" data-title="超值优惠券大放送，各种优惠福利享不停" data-successTxt="优惠券领取成功！">立即领取</p>
                </li>

                <li class="fl">
                    <div class="clearfix in1li_box">
                        <p class="ind1_p1 scb">￥</p>
                        <p class="ind1_p2 scb">500</p>
                    </div>
                    <p class="ind1_p3 scr">满5000元使用</p>
                    <p class="ind1_p4 scm requireLink" data-title="超值优惠券大放送，各种优惠福利享不停" data-successTxt="优惠券领取成功！">立即领取</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="index_box2 be000e">
        <div class="" align="center">
            <div class="ind_sbt">
                <p class="ind_sbt1 scm"><img src="{Stl.SiteUrl}/themes/20210716/images/s_btbacle.png" class="s_btbacle">热门推荐 万人疯抢 <img src="{Stl.SiteUrl}/themes/20210716/images/s_btbacri.png" class="s_btbacri"></p>
                <p class="ind_sbt2 scl">8.8节，抢到就是赚到</p>
            </div>

            <div class="swiper-container sw_box2">
                <div class="swiper-wrapper">
                    <stl:contents channelName="热门推荐" isImage="true" totalNum="5">
                        <div class="swiper-slide">
                            <stl:content type="ImageUrl"></stl:content>
                        </div>
                    </stl:contents>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>

            <p class="in2_boxp1 scm mt-3">改善型别墅设计 高级设计师设计</p>
            <p class="in2_boxp2 scm">效果可落地93%以上</p>
            <p class="in2_boxp3 scl">原价：58元/平米</p>
            <div class="">
                <p class="scb  in2_boxp4">8.8劲爆价:</p>
                <p class="scb in2_boxp5">38元<span class="scb  in2_boxp4">/平米</span></p>
            </div>

            <a href="javascript:void(0);" class="ljgm scr requireLink">
                    立即购买
                </a>
        </div>
    </div>

    <div class="index_box3 be000e">
        <div class="wrap" align="center">
            <div class="ind_sbt">
                <p class="ind_sbt1 scm"><img src="{Stl.SiteUrl}/themes/20210716/images/s_btbacle.png" class="s_btbacle">人气推荐·HOT <img src="{Stl.SiteUrl}/themes/20210716/images/s_btbacri.png" class="s_btbacri"></p>
                <p class="ind_sbt2 scl">超高人气推荐产品等你来抢</p>
            </div>

            <ul class="clearfix">
                <stl:contents channelName="人气推荐" isImage="true" order="back" totalNum="3">
                    <li class="clearfix">
                        <stl:content type="ImageUrl" class="fl ind3_p1"></stl:content>
                        <div class="fl ind3_p1ri" align="right">
                            <p class="in3_boxp1 scm">{content.Title}</p>
                            <p class="in3_boxp2 scl">{content.subTitle}</p>
                            <a href="javascript:void(0);" class="ljzx scr in3_boxp3 requireLink" data-title="{content.Title}">立即咨询</a>
                        </div>
                    </li>
                </stl:contents>
            </ul>
        </div>
    </div>

    <div class="index_box4 be000e">
        <div class="wrap" align="center">
            <div class="ind_sbt">
                <p class="ind_sbt1 scm"><img src="{Stl.SiteUrl}/themes/20210716/images/s_btbacle.png" class="s_btbacle">更多热门产品 全民疯抢 <img src="{Stl.SiteUrl}/themes/20210716/images/s_btbacri.png" class="s_btbacri"></p>
                <p class="ind_sbt2 scl">官方推荐超高性价比热门产品，此时不抢更待何时</p>
            </div>
            <ul class="clearfix">
                <stl:contents channelName="热门产品" isImage="true" order="back" totalNum="16">
                    <li class="fl">
                        <stl:content type="ImageUrl"></stl:content>
                        <p class="scm in4_boxp1">{content.Title}</p>
                        <p class="scl in4_boxp2">{content.subTitle}</p>
                        <div>
                            <p class="scm in4_boxp3">特惠：</p>
                            <p class="scb in4_boxp4">{content.Price replace=".00" to=""}</p>
                            <p class="scm in4_boxp3">{content.Source}</p>
                        </div>
                        <a href="javascript:void(0);" class="ljzx2 scr requireLink" data-title="{content.Title}">立即咨询</a>
                    </li>
                </stl:contents>
            </ul>

        </div>
    </div>

    <div class="index_box5 be000e">
        <div class="wrap" align="center">
            <img src="{Stl.SiteUrl}/themes/20210716/images/ind5_bt.png">
            <div class="index_box5d">
                <p class="scr">2021全年限量招募<span class="scb">100名</span>虚位以待</p>
            </div>

            <div class="clearfix ind5_dall">
                <div class="fl ind5_d">
                    <p class="scn ind5_dp1">您身边的朋友都在做</p>
                    <p class="scb ind5_dp2">工程项目</p>
                </div>

                <img src="{Stl.SiteUrl}/themes/20210716/images/shou.png" class="shou">

                <div class="fr ind5_d">
                    <p class="scn ind5_dp1">您可以成为我们的 </p>
                    <p class="scb ind5_dp2">资质合伙人</p>
                </div>
            </div>
            <div class="clearfix ind5_dall">
                <div class="fl ind5_d">
                    <p class="scn ind5_dp1">您身边的朋友都需要做</p>
                    <p class="scb ind5_dp2">税务筹划</p>
                </div>

                <img src="{Stl.SiteUrl}/themes/20210716/images/shou.png" class="shou">

                <div class="fr ind5_d">
                    <p class="scn ind5_dp1">您可以成为我们的</p>
                    <p class="scb ind5_dp2">税筹合伙人</p>
                </div>
            </div>
            <div class="clearfix ind5_dall">
                <div class="fl ind5_d">
                    <p class="scn ind5_dp1">如果您想和我们八戒工程</p>
                    <p class="scb ind5_dp2">合作项目</p>
                </div>

                <img src="{Stl.SiteUrl}/themes/20210716/images/shou.png" class="shou">

                <div class="fr ind5_d">
                    <p class="scn ind5_dp1">您可以成为我们的 </p>
                    <p class="scb ind5_dp2">品牌合伙人</p>
                </div>
            </div>
        </div>

    </div>

    <div class="index_box6 be000e">
        <div class="wrap" align="center">
            <p class="scn ind6_bt">我们可以为您提供</p>

            <ul class="clearfix">
                <li class="fl">
                    <img src="{Stl.SiteUrl}/themes/20210716/images/ind6_p1.png">
                    <p class="scr ind6_p1">高于行业的销售返点</p>
                </li>
                <li class="fl">
                    <img src="{Stl.SiteUrl}/themes/20210716/images/ind6_p2.png">
                    <p class="scr ind6_p1">八戒工程<br>资源共享</p>
                </li>
                <li class="fl">
                    <img src="{Stl.SiteUrl}/themes/20210716/images/ind6_p3.png">
                    <p class="scr ind6_p1">八戒工程<br>品牌授权</p>
                </li>
            </ul>

            <a href="javascript:void(0);" class="scr hzhb requireLink">立即申请成为合作伙伴</a>
        </div>
    </div>

    <div class="foot be000e" align="center">
        <p class="scl">Copyright © 2021 八戒工程</p>
    </div>

    <stl:include file="/include/footer.html"></stl:include>

    <div class="floatCtrori">
        <div class="">
            <ul class="clearfix">
                <li class="">
                    <img src="{Stl.SiteUrl}/themes/20210716/images/wxzx.png" class="wxzx">
                    <div class="dds">
                        <img src="{Stl.SiteUrl}/themes/20210716/images/ewm.png" class="ewm">
                    </div>
                </li>
                <li class="">
                    <img src="{Stl.SiteUrl}/themes/20210716/images/zxzx.png" class="wxzx consultLink">
                </li>
                <li class="">
                    <a href="tel:13640581316" class="call"><img src="{Stl.SiteUrl}/themes/20210716/images/dhlx.png" class="wxzx"></a>
                </li>
                <li class="">
                    <img src="{Stl.SiteUrl}/themes/20210716/images/xwtw.png" class="wxzx consultLink">
                </li>
            </ul>

            <a href="javascript:;" class="up">
                <img src="{Stl.SiteUrl}/themes/20210716/images/hddb.png" class="hddb">
            </a>
        </div>

    </div>


</body>
<script type="text/javascript">
    let time1 = "2021-07-11 00:00:00";
    var dad1 = new Date(time1).getTime()
    let time2 = "2021-08-05 23:59:59";
    var dad2 = new Date(time2).getTime()

    let time3 = "2021-08-06 00:00:00";
    var dad3 = new Date(time3).getTime()
    let time4 = "2021-08-08 23:59:59";
    var dad4 = new Date(time4).getTime()


    let time5 = "2021-08-09 00:00:00";
    var dad5 = new Date(time5).getTime()
    let time6 = "2021-08-31 23:59:59";
    var dad6 = new Date(time6).getTime()


    // 第一段
    function nowInDateBetwen1(d1, d2) {
        //如果时间格式是正确的，那下面这一步转化时间格式就可以不用了
        // var dateBegin = new Date(d1.replace(/-/g, "/"));//将-转化为/，使用new Date
        // var dateEnd = new Date(d2.replace(/-/g, "/"));//将-转化为/，使用new Date
        var dateBegin = new Date(d1); //将-转化为/，使用new Date
        var dateEnd = new Date(d2); //将-转化为/，使用new Date
        var dateNow = new Date(); //获取当前时间

        var beginDiff = dateNow.getTime() - dateBegin.getTime(); //时间差的毫秒数       
        var beginDayDiff = Math.floor(beginDiff / (24 * 3600 * 1000)); //计算出相差天数

        var endDiff = dateEnd.getTime() - dateNow.getTime(); //时间差的毫秒数
        var endDayDiff = Math.floor(endDiff / (24 * 3600 * 1000)); //计算出相差天数       
        if (endDayDiff < 0) { //已过期
            $('.step1').remove('step_act')
            return false
        }
        if (beginDayDiff < 0) { //没到开始时间
            $('.step1').remove('step_act')
            return false;
        }
        $('.step1').addClass('step_act')
        return true;
    }

    nowInDateBetwen1(dad1, dad2)

    // 第二段
    function nowInDateBetwen2(d1, d2) {



        //如果时间格式是正确的，那下面这一步转化时间格式就可以不用了
        // var dateBegin = new Date(d1.replace(/-/g, "/"));//将-转化为/，使用new Date
        // var dateEnd = new Date(d2.replace(/-/g, "/"));//将-转化为/，使用new Date
        var dateBegin = new Date(d1); //将-转化为/，使用new Date
        var dateEnd = new Date(d2); //将-转化为/，使用new Date
        var dateNow = new Date(); //获取当前时间

        var beginDiff = dateNow.getTime() - dateBegin.getTime(); //时间差的毫秒数       
        var beginDayDiff = Math.floor(beginDiff / (24 * 3600 * 1000)); //计算出相差天数

        var endDiff = dateEnd.getTime() - dateNow.getTime(); //时间差的毫秒数
        var endDayDiff = Math.floor(endDiff / (24 * 3600 * 1000)); //计算出相差天数       
        if (endDayDiff < 0) { //已过期
            $('.step2').remove('step_act')
            return false
        }
        if (beginDayDiff < 0) { //没到开始时间
            $('.step2').remove('step_act')
            return false;
        }
        $('.step2').addClass('step_act')
        return true;
    }

    nowInDateBetwen2(dad3, dad4)

    // 第三段
    function nowInDateBetwen3(d1, d2) {



        //如果时间格式是正确的，那下面这一步转化时间格式就可以不用了
        // var dateBegin = new Date(d1.replace(/-/g, "/"));//将-转化为/，使用new Date
        // var dateEnd = new Date(d2.replace(/-/g, "/"));//将-转化为/，使用new Date
        var dateBegin = new Date(d1); //将-转化为/，使用new Date
        var dateEnd = new Date(d2); //将-转化为/，使用new Date
        var dateNow = new Date(); //获取当前时间

        var beginDiff = dateNow.getTime() - dateBegin.getTime(); //时间差的毫秒数       
        var beginDayDiff = Math.floor(beginDiff / (24 * 3600 * 1000)); //计算出相差天数

        var endDiff = dateEnd.getTime() - dateNow.getTime(); //时间差的毫秒数
        var endDayDiff = Math.floor(endDiff / (24 * 3600 * 1000)); //计算出相差天数       
        if (endDayDiff < 0) { //已过期
            $('.step3').remove('step_act')
            return false
        }
        if (beginDayDiff < 0) { //没到开始时间
            $('.step3').remove('step_act')
            return false;
        }
        $('.step3').addClass('step_act')
        return true;
    }

    nowInDateBetwen3(dad5, dad6)
</script>


<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: {
            el: '.swiper-pagination',
        },

        autoHeight: true,
        autoplay: true
    });
</script>

<script type='text/javascript'>
    window.ZBJInfo = {
        baseURI: "zbj.com",
        pageDomain: "gc.zbj.com",
        staticLibURI: "//as.zbjimg.com",
        runtime: "product",
    };
</script>
<script id="seajsnode" src="//as.zbjimg.com/rake-component/fe-common/utopia-core/0.2.18/index.js"></script>
<script src='//t5.zbjimg.com/t5s/output/common/js/count.js' id='utopia_widget_24'></script>
<script type="text/javascript" src="//utopiacs.zbj.com/module-version.js"></script>
<script>
    // pc端用
    //  seajs.use("zbj-fe/fe-zbj-88venue-res", function (Venue) {
    //         Venue.init({
    //             position: 'page',//定位方式，包括fixed和page,默认page
    //             left: 0,//组件距页面左距离，position=fixed时会用到，默认0
    //             top: 100,//组件距页面高度，默认100
    //             pageWidth: 990,//页面主体宽度，position=page时会用到，默认990
    //             linkid: 'main',//linkid标示，不使用可不传
    //             venue:'',//分会场标示
    //             always:true,//始终显示在页面上，窗口过窄时可能会遮挡页面主题内容
    //             zIndex:9999,//组件的z-index，自行调节，默认10
    //             cb:function(rs){//回调
    //                 console.log(rs);
    //             }
    //         });
    //     });
    // 移动端用
    seajs.use("fe-module/fe-zbj-202088floor-api", function(floor) {
        floor && floor($('body'))
    })
</script>


<script>
    var AllHetri = $(window).height();

    var mainHetri = $('.floatCtrori').height();

    var fixedTopri = (AllHetri - mainHetri) / 2

    $('div.floatCtrori').css({
        top: fixedTopri + 'px'
    });


    $('div.floatCtrori .up').click(function() {

        $('body,html').animate({
            scrollTop: 0
        }, 1000)

    })

    $(window).scroll(scrollsri)

    scrollsri()

    function scrollsri() {

        var fixRightri = $('div.floatCtrori p');

        var blackTopri = $('div.floatCtrori a')

        var sTopri = $(window).scrollTop();


        var topPxri = sTopri + fixedTopri

        $('div.floatCtrori').stop().animate({
            top: topPxri
        });
    }
</script>

</html>