<!DOCTYPE html>
<html>
<head>
  <stl:include file="/include/head.html"></stl:include>
</head>

<body>
  <!-- 头部和导航 -->
  <stl:include file="/include/sideNav.html"></stl:include>
  <!--主体内容-->
  <div class="listbn posrelative">
    <stl:channel type='imageUrl' class="disblock w100"></stl:channel>
    <!-- <img class="disblock w100" src="images/mfsjbn_02.jpg" /> -->
    <div class="lbnpsb disflex flex_center">
      <div class="lbntxt mfsjbn w100 textcenter">
        <h3>别墅全套图纸免费领取</h3>
        <p>全国仅限<i>5000</i>名</p>
      </div>
    </div>
  </div>
  <div class="md sj1">
    <div class="wrap">
      <div class="sj1bg">
        <stl:include file="/include/sjForm.html"></stl:include>
        <!-- <div class="mipt">
          <input type="text" placeholder="您的姓名" name="" id="" value="" />
        </div>
        <div class="mipt">
          <input type="text" placeholder="您的电话" name="" id="" value="" />
        </div>
        <div class="mipt">
          <input type="text" placeholder="建房地区" name="" id="" value="" />
        </div>
        <div class="mipt msbm">
          <button class="btn btnbg">免费获取建房报价</button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="md sj2 pt0 mt_5">
    <div class="wrap">
      <div class="toptitle textcenter">
        <h3>0元享价值5000元建房图纸</h3>
      </div>
      <div class="sj2t disflex flex_lmr mt_10">
        <a href="" class="sj2a disblock textcenter">
          <img src="{stl.SiteUrl}/images/sj2tico1_03.png" />
          <p>各层平面图</p>
        </a>
        <a href="" class="sj2a disblock textcenter">
          <img src="{stl.SiteUrl}/images/sj2tico2_03.png" />
          <p>立面效果图</p>
        </a>
        <a href="" class="sj2a disblock textcenter">
          <img src="{stl.SiteUrl}/images/sj2tico3_03.png" />
          <p>房屋结构图</p>
        </a>
      </div>
      <div class="sj2b mt_10">
        <img class="disblock w100" src="{stl.SiteUrl}/images/sj2pic_03.jpg" />
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div class="md sj3">
    <div class="wrap">
      <div class="toptitle textcenter">
        <h3>现在申请送2项增至服务</h3>
      </div>
      <div class="sj3w">
        <div class="zj2a disflex flex_lmr flex_center">
          <div class="zj2aimg">
            <img class="disblock w100" src="{stl.SiteUrl}/images/zj2pic2_03.jpg" />
          </div>
          <div class="zj2atxt">
            <div class="txt text">
              设计师为您估算造价，及时掌握建房行情
            </div>
          </div>
        </div>
        <div class="zj2a disflex flex_lmr flex_center">
          <div class="zj2atxt">
            <div class="txt text">
              平台10万+设计师提供建房咨询，建房全程无烦恼
            </div>
          </div>
          <div class="zj2aimg">
            <img class="disblock w100" src="{stl.SiteUrl}/images/zj2pic3_03.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="md sj4 bggray">
    <div class="wrap">
      <div class="sj4w btnbg disflex flex_center">
        <div class="sj4l">
          <h3>自己找服务太麻烦？</h3>
          <p>顾问在线帮您解决一切问题</p>
          <a href="">立即获取服务<i class="fa fa-caret-right ml2"></i></a>
        </div>
        <div class="sj4r flex1">
          <input type="text" placeholder="请输入您的电话" name="" id="" value="" />
          <div class="sj4rbox disflex flex_lrcenter flex_center">
            <button>为我服务</button>
            <button class="active">在线咨询</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <stl:include file="/include/consult.html"></stl:include>
  <stl:include file="/include/foot.html"></stl:include>
</body>
</html>


