<html>

<head>
	<stl:include file="/include/head.html"></stl:include>
</head>

<body>
	<stl:include file="/include/sideNav.html"></stl:include>
	<div class="listbn posrelative">
		<img class="disblock w100" src="{Stl.SiteUrl}/images/bsdzbn_02.jpg" />
		<div class="lbnpsb disflex flex_center">
			<div class="lbntxt mfsjbn w100 textcenter">
				<h3>定制专属别墅 建百年品质老宅</h3>
			</div>
		</div>
	</div>
	<div class="md bs1">
		<div class="wrap">
			<div class="bs1bg bgsz">
				<div class="toptitle toptitle_wt textcenter">
					<h3>免费发布需求 官方推荐优质服务商</h3>
				</div>
				<div class="m1at m1at_wt mt_75">
					<img class="middle mr2" height="15" src="{Stl.SiteUrl}/images/m1hot_03.png">
					<a href="">别墅设计</a>丨<a href="">自建房</a>丨<a href="">建筑</a>丨<a href="">效果图</a>
				</div>
				<stl:include file="/include/form.html"></stl:include>
			</div>
		</div>
	</div>
	<div class="md bs2 pt0 mt_5">
		<div class="wrap">
			<div class="toptitle textcenter">
				<h3>
					资深设计师 一对一专属服务
				</h3>
			</div>
		</div>
		<div class="mt_10">
			<div class="swiper-container swiper-container-bn">
				<div class="swiper-wrapper">
					<stl:contents channelName="别墅设计" parent="自建房/别墅" totalNum="3">
						<div class="swiper-slide"><a href="" class="disblock"><img class="disblock w100"
									src="{content.ImageUrl}" /></a></div>
					</stl:contents>
				</div>
				<div class="swiper-pagination swiper-pagination-bn"></div>
			</div>
			<div class="bs2w mt_10">
				<div class="wrap">
					<h3 class="titleh3">范围内容</h3>
					<div class="txt text mt_5">
						<stl:channel channelName="别墅定制" type='content'></stl:channel>
					</div>
					<div class="mt_10 textcenter">
						<a href="" class="btnbg more_a">立即预约</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="line"></div>
	<div class="md bs3">
		<div class="wrap">
			<div class="toptitle textcenter">
				<h3>选择八戒工程 再送你4项增值服务</h3>
			</div>
			<div class="bs3w">
				<stl:contents channelName="别墅定制" scope="self">
					<div class="bs3a bgsz" style="background: url({content.ImageUrl}) no-repeat center;">
						<h3 class="titleh3 colorindex">{content.title}</h3>
						<p class="text mt_2">{content.subTitle}</p>
					</div>
					</stl:contents>
			</div>
		</div>
	</div>
	<div class="line"></div>
	<div class="md bs4">
		<div class="wrap">
			<div class="toptitle textcenter">
				<h3>服务流程</h3>
			</div>
			<div class="bs4w mt_10 disflex flex_center">
				<div class="bs4a textcenter">
					<img src="{Stl.siteUrl}/images/bs4ico1_03.png" />
					<p>沟通需求</p>
				</div>
				<i><img src="{Stl.siteUrl}/images/bs4jt_03.png" /></i>
				<div class="bs4a textcenter">
					<img src="{Stl.siteUrl}/images/bs4ico2_03.png" />
					<p>下单合作</p>
				</div>
				<i><img src="{Stl.siteUrl}/images/bs4jt_03.png" /></i>
				<div class="bs4a textcenter">
					<img src="{Stl.siteUrl}/images/bs4ico3_03.png" />
					<p>开始工作</p>
				</div>
				<i><img src="{Stl.siteUrl}/images/bs4jt_03.png" /></i>
				<div class="bs4a textcenter">
					<img src="{Stl.siteUrl}/images/bs4ico4_03.png" />
					<p>验收图纸</p>
				</div>
				<i><img src="{Stl.siteUrl}/images/bs4jt_03.png" /></i>
				<div class="bs4a textcenter">
					<img src="{Stl.siteUrl}/images/bs4ico5_03.png" />
					<p>满意支付</p>
				</div>
			</div>
		</div>
	</div>
	<div class="md bs5 pt0 mt_5">
		<div class="wrap">
			<div class="toptitle textcenter">
				<h3>累计服务商全国300万客户</h3>
			</div>
		</div>
		<div class="mt_10">
			<div class="swiper-container swiper-container-bn">
				<div class="swiper-wrapper">
					<stl:contents channelName="别墅施工" scope="self">
						<div class="swiper-slide">
							<a href="" class="disblock">
								<img class="disblock w100" src="{content.ImageUrl}" />
							</a>
						</div>
					</stl:contents>
				</div>
				<div class="swiper-pagination swiper-pagination-bn"></div>
			</div>
		</div>
	</div>
	<stl:include file="/include/consult.html"></stl:include>
	<stl:include file="/include/footer.html"></stl:include>
</body>

</html>