<!DOCTYPE html>
<html>

<head>
    <stl:include file="/include/head.html"></stl:include>
</head>

<body>
    <!--头部和导航-->
    <stl:include file="/include/sideNav.html"></stl:include>

    <!--主体内容-->
    <div class="listbn posrelative">
        <stl:channel type='imageUrl' class="disblock w100"></stl:channel>
        <div class="lbnpsb disflex">
            <div class="lbntxt textshow jflqbn w100 textcenter">
                <p>八戒工程送你</p>
                <h3 class="mt_5">建房礼券</h3>
            </div>
            <div class="jflqbn_q">
                <a href="" class="jflqbn_a"><img class="disblock w100" src="{Stl.SiteUrl}/images/jflqbn_pic_03.png" /></a>
            </div>
        </div>
    </div>
    <div class="md jf1">
        <div class="wrap">
            <div class="toptitle textcenter">
                <h3 class="disflex flex_center flex_lrcenter"><i></i>今日仅剩<span class="colorindex">29</span>个名额<i></i></h3>
            </div>
            <div class="jf1bg bggray mt_10">
                <stl:include file="/include/form.html"></stl:include>
                <!-- <div class="mipt mt0">
					<input type="text" placeholder="您所在的地区" name="" id="" value="" />
				</div>
				<div class="mipt">
					<input type="text" placeholder="您的联系方式" name="" id="" value="" />
				</div>
				<div class="mipt msbm">
					<button class="btn btnbg">立即预约领取</button>
				</div> -->
			</div>
		</div>
	</div>
	<stl:include file="/include/footer.html"></stl:include>
	</body>
</html>