<html>
  <head>
    <stl:include file="/include/head.html"></stl:include>
  </head>
  <body>
    <stl:include file="/include/sideNav.html"></stl:include>
    <div class="listbn posrelative">
      <div class="md">
        <img src="{Stl.SiteUrl}/images/fico5_03.png"/>
        <span>昵称</span>
      </div>
      <div class="wrap">
        <div class="md">
          <div class="pbt disflex flex_center flex_lmr">个人资料</div>
        </div>
      </div>
    </div>
    <stl:include file="/include/foot.html"></stl:include>
  </body>
</html>
