<!DOCTYPE html>
<html>

<head>
    <stl:include file="/include/head.html"></stl:include>
</head>

<body>
	<!--头部-->
	<stl:include file="/include/sideNav.html"></stl:include>
	<!--主体内容-->
	<div class="listbn posrelative">
		<stl:channel type='imageUrl' class="disblock w100"></stl:channel>
		<div class="lbnpsb disflex flex_center">
			<div class="lbntxt w100 textcenter">
				<h3>专业设计师</h3>
				<p>免费帮忙看户型</p>
			</div>
		</div>
	</div>
	<div class="md hx1">
		<div class="wrap">
			<div class="bs1bg hx1bg bgsz">
				<div class="toptitle toptitle_wt textcenter">
					<h3 class="textshow">抢占免费看房服务</h3>
				</div>
				<stl:include file="/include/sjForm.html"></stl:include>
			</div>
		</div>
	</div>
	<div class="md hx2 bggray">
		<div class="wrap">
			<div class="toptitle textcenter">
				<h3>设计师支招，定制你的专属户型</h3>
			</div>
			<div class="hx2t mt_10 tab_head activetop">
				<ul class="disflex flex_lmr">
					<li class="active">户型平面图</li>
					<li>户型优势分析</li>
					<li>参考效果图</li>
					<li>工程预算</li>
				</ul>
			</div>
		</div>
		<div class="tab_content hx2b mt_10">
			<ul>
				<li class="tab_content_li active">
					<div class="swiper-container swiper-container-bn">
					    <div class="swiper-wrapper">
					    	<div class="swiper-slide"><a href="" class="disblock"><img class="disblock w100" src="{stl.siteUrl}/images/pic1_03.jpg"/></a></div>
					    	<div class="swiper-slide"><a href="" class="disblock"><img class="disblock w100" src="{stl.siteUrl}/images/pic1_03.jpg"/></a></div>
					    	<div class="swiper-slide"><a href="" class="disblock"><img class="disblock w100" src="{stl.siteUrl}/images/pic1_03.jpg"/></a></div>
					    </div>
					    <div class="swiper-pagination swiper-pagination-bn"></div>
					</div>
				</li>
				<li class="tab_content_li">
					<div class="swiper-container swiper-container-bn">
					    <div class="swiper-wrapper">
					    	<div class="swiper-slide"><a href="" class="disblock"><img class="disblock w100" src="{stl.siteUrl}/images/pic2_03.jpg"/></a></div>
					    	<div class="swiper-slide"><a href="" class="disblock"><img class="disblock w100" src="{stl.siteUrl}/images/pic2_03.jpg"/></a></div>
					    	<div class="swiper-slide"><a href="" class="disblock"><img class="disblock w100" src="{stl.siteUrl}/images/pic2_03.jpg"/></a></div>
					    </div>
					    <div class="swiper-pagination swiper-pagination-bn"></div>
					</div>
				</li>
				<li class="tab_content_li">
					<div class="swiper-container swiper-container-bn">
					    <div class="swiper-wrapper">
					    	<div class="swiper-slide"><a href="" class="disblock"><img class="disblock w100" src="{stl.siteUrl}/images/pic1_03.jpg"/></a></div>
					    	<div class="swiper-slide"><a href="" class="disblock"><img class="disblock w100" src="{stl.siteUrl}/images/pic1_03.jpg"/></a></div>
					    	<div class="swiper-slide"><a href="" class="disblock"><img class="disblock w100" src="{stl.siteUrl}/images/pic1_03.jpg"/></a></div>
					    </div>
					    <div class="swiper-pagination swiper-pagination-bn"></div>
					</div>
				</li>
				<li class="tab_content_li">
					<div class="swiper-container swiper-container-bn">
					    <div class="swiper-wrapper">
					    	<div class="swiper-slide"><a href="" class="disblock"><img class="disblock w100" src="{stl.siteUrl}/images/pic2_03.jpg"/></a></div>
					    	<div class="swiper-slide"><a href="" class="disblock"><img class="disblock w100" src="{stl.siteUrl}/images/pic2_03.jpg"/></a></div>
					    	<div class="swiper-slide"><a href="" class="disblock"><img class="disblock w100" src="{stl.siteUrl}/images/pic2_03.jpg"/></a></div>
					    </div>
					    <div class="swiper-pagination swiper-pagination-bn"></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="md hx3">
		<div class="wrap">
			<stl:channel channelName="户型设计" type="content"></stl:channel>
		</div>
	</div>
	<div class="line"></div>
	<div class="md hx4">
		<div class="wrap">
			<div class="toptitle textcenter">
				<h3>服务流程</h3>
			</div>
			<div class="bs4w mt_10 disflex flex_center">
				<div class="bs4a textcenter">
					<img src="{stl.siteUrl}/images/bs4ico4_03.png"/><p>免费领取</p>
				</div>
				<i><img src="{stl.siteUrl}/images/bs4jt_03.png"/></i>
				<div class="bs4a textcenter">
					<img src="{stl.siteUrl}/images/bs4ico1_03.png"/><p>沟通需求</p>
				</div>
				<i><img src="{stl.siteUrl}/images/bs4jt_03.png"/></i>
				<div class="bs4a textcenter">
					<img src="{stl.siteUrl}/images/hx4ico1_03.png"/><p>设计师看房</p>
				</div>
				<i><img src="{stl.siteUrl}/images/bs4jt_03.png"/></i>
				<div class="bs4a textcenter">
					<img src="{stl.siteUrl}/images/hx4ico1_03.png"/><p>户型设计</p>
				</div>
			</div>
		</div>
	</div>
	<stl:include file="/include/consult.html"></stl:include>
	<stl:include file="/include/footer.html"></stl:include>
</body>

</html>