<!DOCTYPE html>
<html>
	<head>
		<stl:include file="/include/head.html"></stl:include>
	</head>
	<body>
	<!--头部-->
	<stl:include file="/include/sideNav.html"></stl:include>
	
	<!--主体内容-->
	<div class="listbn posrelative">
		<stl:channel type='imageUrl' class="disblock w100"></stl:channel>
		<div class="lbnpsb disflex flex_center">
			<div class="lbntxt xgtbn w100 textcenter">
				<h3>做效果图找八戒工程</h3>
				<h4>省时·省心·省钱</h4>
				<p><a href="">室内效果图</a> 丨 <a href="">鸟瞰图</a> 丨 <a href="">室外效果图</a></p>
			</div>
		</div>
	</div>
	<div class="md xg1 bggray">
		<div class="wrap">
			<div class="bs1bg xg1bg bgsz">
				<div class="toptitle toptitle_wt textcenter">
					<h3 class="textshow">免费发布需求   官方推荐优质服务商</h3>
				</div>
				<div class="m1at mt_75">
					<img class="middle mr2" height="15" src="{Stl.SiteUrl}/images/m1hot_03.png">
					<a href="">别墅设计</a>丨<a href="">自建房</a>丨<a href="">建筑</a>丨<a href="">效果图</a>
				</div>
				<stl:include file="/include/form.html"></stl:include>
			</div>
		</div>
	</div>
	
	<stl:channels channelName="效果图">
		<div class="md xg2">
			<div class="wrap">
				<div class="pbt disflex flex_center flex_lmr">
					<h3><stl:channel type='title'></stl:channel></h3></h3>
					<a href=""><i class="fa fa-angle-right"></i></a>
				</div>
			</div>
			<div class="pb_w mt_10 posrelative">
				<div class="swiper-container swiper-container-public">
					<div class="swiper-wrapper">
						<stl:contents>
							<div class="swiper-slide"><a href="" class="pb_a disblock"><img class="disblock w100" src="{content.imageUrl}"/></a></div>
						</stl:contents>
					</div>
				</div>
			</div>
			<div class="mt_10 textcenter">
				<a href="" class="btnbg more_a">立即预约</a>
			</div>
		</div>
		<div class="line"></div>
	</stl:channels>
	<stl:include file="/include/consult.html"></stl:include>
	<stl:include file="/include/foot.html"></stl:include>
	</body>
</html>
