<html>

<head>
    <stl:include file="/include/head.html"></stl:include>
    <style>
        .swiper-container-tabar span {
            width: auto;
        }
    </style>
</head>

<body>
    <!--头部-->
    <stl:include file="/include/sideNav.html"></stl:include>
    <!-- 主体部分 -->
    <stl:if type='CountOfContents' op="NotEmpty">
        <stl:yes>
            <div class="md m4 bggray">
                <div class="m4t activetop disflex flex_lmr flex_wrap ">
                    <div class="swiper-container-tabar">
                        <div class="swiper-wrapper">
                            <span class="active swiper-slide">全部</span>
                            <stl:channels>
                                <span class="swiper-slide">
                                        <stl:channel></stl:channel>
                                    </span>
                            </stl:channels>
                        </div>
                    </div>
                </div>
                <div class="swiper-container swiper-container-m4 swiper-no-swiping">
                    <div class="swiper-wrapper">
                        <!-- 全部 -->
                        <div class="swiper-slide">
                            <div class="m4wrap">
                                <ul class="m4w wall posrelative clearfix all">
                                    <stl:contents scope="descendant" totalNum="20" isImage="true" totalNum='6'>
                                        <li class="article">
                                            <div class="m4a disblock w100 bgwhite">
                                                <stl:a class="m4at">
                                                    <div class="m4aimg">
                                                        <img class="disblock w100" src="{content.ImageUrl}" />
                                                    </div>
                                                    <div class="m4atxt padding5">
                                                        <h3 class="line_1">{content.Title}</h3>
                                                        <stl:if type="Price" op="In" value="0,0.00">
                                                            <stl:no>
                                                                <div class="m4atxtb mt_5 disflex flex_lmr flex_center">
                                                                    <span>￥{content.Price}</span>
                                                                </div>
                                                            </stl:no>
                                                        </stl:if>
                                                    </div>
                                                </stl:a>
                                            </div>
                                        </li>
                                    </stl:contents>
                                </ul>
                                <div class="m4zk textcenter mt_10 ">
                                    <span class="load-more-all"><img src="{stl.siteUrl}/images/m4zk_03.png" /></span>
                                </div>
                            </div>
                        </div>
                        <stl:channels scope="children">
                            <div class="swiper-slide">
                                <div class="m4wrap">
                                    <ul class="m4w wall posrelative clearfix children">
                                        <stl:contents scope="all" totalNum="20" isImage="true" totalNum='6'>
                                            <li class="article">
                                                <div class="m4a disblock w100 bgwhite">
                                                    <stl:a class="m4at">
                                                        <div class="m4aimg">
                                                            <img class="disblock w100" src="{content.ImageUrl}" />
                                                        </div>
                                                        <div class="m4atxt padding5">
                                                            <h3 class="line_1">{content.Title}</h3>
                                                            <stl:if type="Price" op="In" value="0,0.00">
                                                                <stl:no>
                                                                    <div class="m4atxtb mt_5 disflex flex_lmr flex_center">
                                                                        <span>￥{content.Price}</span>
                                                                    </div>
                                                                </stl:no>
                                                            </stl:if>
                                                        </div>
                                                    </stl:a>
                                                </div>
                                            </li>
                                        </stl:contents>
                                    </ul>
                                    <div class="m4zk textcenter mt_10 ">
                                        <span><img class="load-more-children" src="{stl.siteUrl}/images/m4zk_03.png"/></span>
                                    </div>
                                </div>
                            </div>
                        </stl:channels>
                    </div>
                </div>
            </div>
        </stl:yes>
        <stl:no>
            <div>暂时没有数据</div>
        </stl:no>
    </stl:if>
    <stl:include file="/include/footer.html"></stl:include>
    <script src="{stl.siteUrl}/js/jaliswall.js" type="text/javascript"></script>
    <script src="{stl.siteUrl}/js/serviceList.js" type="text/javascript"></script>
    <script>
        $(function() {
            var swiper = new Swiper('.swiper-container-tabar', {
                spaceBetween: 20,
                slidesPerView: 'auto',
                freeMode: true
            });
        })

        // 获取当前网站的siteId
        let siteId = 180;
        let apiKey = '306b878f-ff15-4c82-b798-5236a42cee30';
        // 获取全部内容
        var allPages = parseInt('1') + 1;

        let allperPage = 6; //每页显示6条数据
        var Dom = jQuery('ul.m4w.wall.posrelative.clearfix.all');

        $('.load-more-all').click(function() {
            $.ajax({
                url: "/api/v1/contents?apiKey=" + apiKey,
                type: "POST",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify({
                    'siteId': siteId,
                    'channelId': 170,
                    'page': allPages,
                    'perPage': allperPage,
                }),
                dataType: "text",
                success: function(result) {
                    if (JSON.parse(result).contents.length > 0) {
                        var arry = JSON.parse(result).contents;
                        for (var i = 0; i < arry.length; i++) {
                            console.log(arry[i]);
                            var Html = `<div class="wall-column">
                            <div class="article" id="">
                                <div class="m4a disblock w100 bgwhite">
                                    <a class="m4at" href="${arry[i].navigationUrl}">
                                        <div class="m4aimg">
                                            <img class="disblock w100" src="${arry[i].imageUrl}">
                                        </div>
                                        <div class="m4atxt padding5">
                                            <h3 class="line_1">${arry[i].title}</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>`;
                            Dom.append(Html);
                            //分页+=1
                            allPages += 1;
                        }
                    } else {
                        jQuery('.load-more-all').text("没有更多内容");
                    }
                },
                error: function(msg) {
                    console.log(msg);
                }
            })
        });


        // 子栏目加载更多
        let childrenPages = parseInt('1') + 1;
        let childrenPerPage = 6; //每页显示6条
        //追加到元素下
        var childrenDom = jQuery('ul.m4w.wall.posrelative.clearfix.children');
        $('.load-more-children').click(function() {
            $.ajax({
                url: "/api/v1/contents?apiKey=" + apiKey,
                type: "POST",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify({
                    'siteId': siteId,
                    'channelId': 172,
                    'page': childrenPages,
                    'perPage': childrenPerPage,
                }),
                dataType: "text",
                success: function(result) {
                    console.log(result);
                    if (JSON.parse(result).contents.length > 0) {
                        var arry = JSON.parse(result).contents;
                        for (var i = 0; i < arry.length; i++) {
                            console.log(arry[i]);
                            var Html = `<div class="wall-column">
                            <div class="article" id="">
                                <div class="m4a disblock w100 bgwhite">
                                    <a class="m4at" href="${arry[i].navigationUrl}">
                                        <div class="m4aimg">
                                            <img class="disblock w100" src="${arry[i].imageUrl}">
                                        </div>
                                        <div class="m4atxt padding5">
                                            <h3 class="line_1">${arry[i].title}</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>`;
                            childrenDom.append(Html);
                            //分页+=1
                            childrenPages += 1;
                        }
                    } else {
                        jQuery('.load-more-children').text("没有更多内容");
                    }
                },
                error: function(msg) {
                    console.log(msg);
                }
            })
        })
    </script>
</body>

</html>