<!DOCTYPE html>
<html>

<head>
	<stl:include file="/include/head.html"></stl:include>
</head>

<body>
	<!--头部-->
	<stl:include file="/include/sideNav.html"></stl:include>
	<!--主体内容-->
	<div class="listbn posrelative">
		<stl:channel type='imageUrl' class="disblock w100"></stl:channel>
		<div class="lbnpsb disflex flex_center">
			<div class="lbntxt wrap w100 textcenter">
				<h3>10秒估算建房造价</h3>
			</div>
		</div>
	</div>
	<div class="md bggray">
		<div class="wrap">
			<div class="qb1 qbpd bgwhite">
				<div class="qbtitle">
					<h3><i></i>热门服务</h3>
					<div class="qb1w disflex flex_wrap">
						<a href="" class="qb1a textcenter disblock">
							<img src="{stl.siteUrl}/images/qb1ico1_03.png" />
							<p>自建房/别墅</p>
						</a>
						<a href="" class="qb1a textcenter disblock">
							<img src="{stl.siteUrl}/images/qb1ico2_03.png" />
							<p>效果图</p>
						</a>
						<a href="" class="qb1a textcenter disblock">
							<img src="{stl.siteUrl}/images/qb1ico3_03.png" />
							<p>室内设计</p>
						</a>
						<a href="" class="qb1a textcenter disblock">
							<img src="{stl.siteUrl}/images/qb1ico4_03.png" />
							<p>建筑设计</p>
						</a>
						<a href="" class="qb1a textcenter disblock">
							<img src="{stl.siteUrl}/images/qb1ico5_03.png" />
							<p>民宿设计</p>
						</a>
						<a href="" class="qb1a textcenter disblock">
							<img src="{stl.siteUrl}/images/qb1ico6_03.png" />
							<p>规划景观</p>
						</a>
					</div>
				</div>
			</div>
			<stl:channels channelName="服务">
				<div class="qb2 qbpd bgwhite mt_10">
					<div class="qbtitle">
						<h3><i></i>
							<stl:channel type="title"></stl:channel></i>
						</h3>
						<stl:channels>
							<div class="qb2w mt_15">
								<h3 class="qb2title">
									<stl:channel type="title"></stl:channel>
								</h3>
								</h3>
								<div class="qb2wb disflex flex_wrap">
									<stl:channels>
										<stl:a>
											<stl:channel type="title"></stl:channel>
										</stl:a>
									</stl:channels>
								</div>
							</div>
						</stl:channels>
					</div>
				</div>
			</stl:channels>
			<div class="qb2 qbpd bgwhite mt_10">
				<div class="qbtitle">
					<h3><i></i>推荐服务</h3>
					<div class="qb2w mt_15">
						<h3 class="qb2title">
							<stl:channel channelName="资质服务" type="title"></stl:channel>
						</h3>
						<div class="qb2wb disflex flex_wrap">
							<stl:channels channelName="资质服务">
								<stl:a>
									<stl:channel type="title"></stl:channel>
								</stl:a>
							</stl:channels>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<stl:include file="/include/footer.html"></stl:include>
</body>
</html>
