<html>

<head>
    <stl:include file="/include/head.html"></stl:include>
    <style>
        .swiper-container-tabar span {
            width: auto;
        }
    </style>
</head>

<body>
    <!--头部-->
    <stl:include file="/include/sideNav.html"></stl:include>
    <!-- 主体部分 -->
    <stl:if type='CountOfContents' op="NotEmpty">
        <stl:yes>
            <div class="md m4 bggray">
                <div class="m4t activetop disflex flex_lmr flex_wrap ">
                    <div class="swiper-container-tabar">
                        <div class="swiper-wrapper">
                            <span class="active swiper-slide">全部</span>
                            <stl:channels>
                                <span class="swiper-slide">
                                        <stl:channel></stl:channel>
                                    </span>
                            </stl:channels>
                        </div>
                    </div>
                </div>
                <div class="swiper-container swiper-container-m4 swiper-no-swiping">
                    <div class="swiper-wrapper">
                        <!-- 全部 -->
                        <div class="swiper-slide">
                            <div class="m4wrap">
                                <ul class="grid indexAll">
                                    <stl:contents channelName="服务" scope="all" totalNum="10" isImage="true">
                                        <li class="grid-item">
                                            <img src="{content.ImageUrl}">
                                            <span>{content.Title}</span>
                                            <stl:if type="Price" op="In" value="0,0.00">
                                                <stl:no>
                                                    <div class="m4atxtb mt_5 disflex flex_lmr flex_center">
                                                        <span>￥{content.Price}</span>
                                                    </div>
                                                </stl:no>
                                            </stl:if>
                                        </li>
                                    </stl:contents>
                                </ul>
                                <div class="m4zk textcenter mt_10">
                                    <span class="load-more-listAll"><img src="{stl.siteUrl}/images/m4zk_03.png" /></span>
                                </div>
                            </div>
                        </div>
                        <stl:channels scope="children">
                            <div class="swiper-slide">
                                <div class="m4wrap">
                                    <ul class="grid">
                                        <stl:contents scope="all" totalNum="10" isImage="true">
                                            <li class="grid-item">
                                                <img src="{content.ImageUrl}">
                                                <span>{content.Title}</span>
                                                <stl:if type="Price" op="In" value="0,0.00">
                                                    <stl:no>
                                                        <div class="m4atxtb mt_5 disflex flex_lmr flex_center">
                                                            <span>￥{content.Price}</span>
                                                        </div>
                                                    </stl:no>
                                                </stl:if>
                                            </li>
                                        </stl:contents>
                                    </ul>
                                    <div class="m4zk textcenter mt_10">
                                        <span class="load-more-listAll"><img src="{stl.siteUrl}/images/m4zk_03.png" /></span>
                                    </div>
                                </div>
                            </div>
                        </stl:channels>
                    </div>
                </div>
            </div>
        </stl:yes>
        <stl:no>
            <div>暂时没有数据</div>
        </stl:no>
    </stl:if>
    <stl:include file="/include/footer.html"></stl:include>
    <script src="{stl.siteUrl}/js/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="{stl.siteUrl}/js/serviceList.js" type="text/javascript"></script>
    <script>
        $(function() {
            var swiper = new Swiper('.swiper-container-tabar', {
                spaceBetween: 20,
                slidesPerView: 'auto',
                freeMode: true
            });
        })


        var $grid = $('.grid').masonry({
            itemSelector: '.grid-item',
            percentPosition: true, //使用百分比宽度的响应式布局
            horizontalOrder: true, //对项目进行布局以保持水平的从左到右的顺序,定义了此条件，照片一般会按照从左到右顺序排列，但也不是绝对的。
            originLeft: true, //设置布局方式为从左到右，此项是默认值，可以不填写，如果你设置值为false，则会从右到左排序
            originTop: true, //设置布局方式为从上到下，此项是默认值，可以不填写，如果你设置值为false，则会从下到上排序
            transitionDuration: '0.8s', //更改位置或外观时的过渡持续时间,默认是0.4s
            resize: true, //调整窗口大小时自动调整元素大小和位置，此项不推荐关闭
            initLayout: true, //默认为true，在初始化时候启用布局，如果设置为在初始化时禁用布局，可以在初始布局之前使用方法或添加事件，执行玩自定义方法后，在使用$grid.masonry()方法来初始化
        })

        //如果我initLayout: false,那么在初始化布局前，会先执行此方法，然后在调用$('.grid').masonry()方法进行初始化，下面方法只是举例
        $grid.masonry('on', 'layoutComplete', function() {
            console.log('layout is complete');
        });
        // 如果initLayout: true,则不需要此方法
        $grid.masonry();
    </script>
</body>

</html>