<!DOCTYPE html>
<html>

<head>
    <stl:include file="/include/head.html"></stl:include>
</head>

<body>
    <!-- 头部和导航 -->
    <stl:include file="/include/sideNav.html"></stl:include>
    <!--主体内容-->
    <div class="listbn posrelative">
        <stl:channel type='imageUrl' class="disblock w100"></stl:channel>
        <!-- <img class="disblock w100" src="images/zjbn_02.jpg"/> -->
        <div class="lbnpsb disflex flex_center">
            <div class="lbntxt w100 textcenter">
                <h3>10秒估算建房造价</h3>
                <p>已服务全国超300万客户</p>
            </div>
        </div>
    </div>
    <div class="md zj1">
        <stl:include file="/include/CalculateForm.html"></stl:include>
    </div>
    <div class="md zj2 pt0 mt_5">
        <div class="wrap">
            <div class="toptitle textcenter">
                <h3>
                    我们的报价源于
                </h3>
            </div>
            <div class="zj2w">
                <div class="zj2a disflex flex_lmr flex_center">
                    <div class="zj2atxt flex1">
                        <h3 class="titleh3 colorindex">
                            300万雇主
                        </h3>
                        <div class="txt text mt_5">
                            八戒工程累计服务全国超300万住宅
                        </div>
                    </div>
                    <div class="zj2aimg">
                        <img class="disblock w100" src="/m/upload/images/2021/6/83cc84019794f20a.jpg" title="zj2pic1_03.jpg" alt="zj2pic1_03.jpg" />
                    </div>
                </div>
                <div class="zj2a disflex flex_lmr flex_center">
                    <div class="zj2aimg">
                        <img class="disblock w100" src="/m/upload/images/2021/6/5fc8bf9819f9c73d.jpg" title="zj2pic2_03.jpg" alt="zj2pic2_03.jpg" />
                    </div>
                    <div class="zj2atxt flex1">
                        <h3 class="titleh3 colorindex">
                            10万平台设计师
                        </h3>
                        <div class="txt text mt_5">
                            10万入驻建筑设计师成交数据
                        </div>
                    </div>
                </div>
                <div class="zj2a disflex flex_lmr flex_center">
                    <div class="zj2atxt flex1">
                        <h3 class="titleh3 colorindex">
                            覆盖全国226个城市
                        </h3>
                        <div class="txt text mt_5">
                            覆盖226个城市<br/>建房全方位数据
                        </div>
                    </div>
                    <div class="zj2aimg">
                        <img class="disblock w100" src="/m/upload/images/2021/6/36bba610b0ad6dd4.jpg" title="zj2pic3_03.jpg" alt="zj2pic3_03.jpg" />
                    </div>
                </div>
                <div class="zj2a disflex flex_lmr flex_center">
                    <div class="zj2aimg">
                        <img class="disblock w100" src="/m/upload/images/2021/6/1dd7095f3520e11b.jpg" title="zj2pic4_03.jpg" alt="zj2pic4_03.jpg" />
                    </div>
                    <div class="zj2atxt flex1">
                        <h3 class="titleh3 colorindex">
                            大数据分析
                        </h3>
                        <div class="txt text mt_5">
                            数据实时更新，猪八戒大数据帮您计算建房要花多少钱
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <stl:include file="/include/footer.html"></stl:include>
</body>

</html>