<html>

<head>
    <stl:include file="{Stl.SiteUrl}/include/head.html"></stl:include>
</head>

<body>
    <div class="require">
        <div class="mipt">
            <input type="text" placeholder="您的姓名" id="name" class="name" />
            <span class="error name-error"></span>
        </div>
        <div class="mipt">
            <input type="text" placeholder="您的电话" id="phone" class="phone" />
            <span class="error phone-error"></span>
        </div>
        <div class="mipt">
            <textarea placeholder="请把问题留给我们，我们会提供让您满意的答复~" id="content" class='w100 content'></textarea>
            <span class="error content-error"></span>
        </div>
        <div class="mipt">
            <span class="green">信息保护中，仅官方可见</span>
        </div>
        <div class="mipt msbm">
            <button class="btn btnbg">发布</button>
        </div>
    </div>
    <script src="{stl.siteUrl}/js/xuqiu.js?=20110701"></script>
</body>

</html>