<!DOCTYPE html>
 <html>
<head>
    <meta charset="utf-8">
    <title>{content.Title}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel='stylesheet' href='/sitefiles/assets/css/bootstrap.min.css' type='text/css' />

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">

                <h2 class="text-center" style="margin-top: 30px;">
                    {content.Title}
                </h2>
        
                <div class="desc">
                    {content.Body}
                </div>
        
            </div>
        </div>
    </div>
</body>
</html>
