<html>

<head>
    <stl:include file="/include/head.html"></stl:include>
</head>

<body>
    <div class="productDetails">
        <div class="service-top-bar-container">
            <div class="top">
                <span class="button-item back-button" onClick="javascript :history.go(-1);">
			</div>
		</div>
		<div>
			<img class="disblock w100" src="{content.ImageUrl}" />
		</div>
		<div class="productDetails-info">
			<div class="m4atxt padding5">
				<div class="m4atxtb mt_5 disflex flex_lmr flex_center">
					<span>￥{content.Price}</span>
            </div>
            <h3 class="line_1"><b>{content.Title}</b></h3>
        </div>
    </div>
    <div class="details-info">
        <div>产品详情</div>
        <div>{content.Body}</div>
    </div>
    </div>
</body>

</html>