<html>

<head>
    <stl:include file="/include/head.html"></stl:include>
</head>

<body>
    <div class="container p-0" id="product">

        <!--返回上页-->
        <div class="fixed-top backgo">
            <a href="javascript:history.go(-1);"><i class="fa fa-arrow-left"></i></a>
        </div>

        <!--封面图片-->
        <!--滚动图-->
        <div class="swiper-container productSwiper">
            <div class="swiper-wrapper">
                <stl:each type="imageUrl">
                    <div class="swiper-slide">
                        <stl:image class="img-fluid"></stl:image>
                    </div>
                </stl:each>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <!-- Initialize Swiper -->
        <script>
            new Swiper(".productSwiper", {
                loop: true, // 循环模式选项
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: false,
                },
                observer: true,
                observeParents: true,
                pagination: {
                    el: ".swiper-pagination",
                },
            });
        </script>

        <!--标题显示-->
        <div class="shadow-sm p-3 bg-white rounded">
            <div class="product-title">{content.Title}</div>
        </div>

        <!--内容详情-->
        <div class="product-info">
            {content.Body}
        </div>

    </div>

    <stl:include file="/include/footer.html"></stl:include>
</body>

</html>