#vs临时文件夹
.vs/
.vscode/

#npm包
node_modules/

#站点系统目录
/wwwroot/xy-admin/
/wwwroot/home/
/wwwroot/sitefiles/

#站点生成目录
channels/
contents/

/wwwroot/index.html
/wwwroot/m/index.html
/wwwroot/m/orderConfirm.html

#排除文件（特定文件：覆盖原文件）
!/wwwroot/xy-admin/index.html