<!doctype html>
<html class="no-js" lang="zh-cn">

<head>
    <stl:include file="{Stl.SiteUrl}/include/head.html"></stl:include>
</head>

<body>
    <stl:include file="{Stl.SiteUrl}/include/header.html"></stl:include>
    <stl:include file="{Stl.SiteUrl}/include/menu.html"></stl:include>
    <div class="col-10 cp-xqpage">
        <div class="container">
            <div class="row">
                <div class="contentbox">
                    <div class="cp-img col-xs-12 col-md-6 col-lg-7">
                        <stl:content type="ImageUrl" class="col-10"></stl:content>
                    </div>
                    <div class="cp-data col-xs-12 col-md-6 col-lg-5">
                        <h2>{content.Title}</h2>
                        <p>{content.summary}</p>
                        <div class="cp-jg">
                            <span>￥{content.Price}</span>
                        </div>
                        <div class="cp-number">
                            <p class=" flex-c"><span>数量：</span><input id="count" type="number" value="1" /><span>件</span></p>
                        </div>

                        <div class="cp-btngroup flex-c">
                            <a class="btn btn-gw" href="javascript:;" onclick="btnPayClick()">立即购买</a>
                            <a class="btn btn-zx zxbtn">立即咨询</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10 bgf6">
        <div class="container">
            {content.content}
        </div>
    </div>
    <stl:include file="include/footer.html"></stl:include>
    <script src="{Stl.SiteUrl}/js/main.js?WAWD"></script>
    <script src="/sitefiles/assets/lib/layer/layer-3.1.1.js"></script>
    <script src="/sitefiles/assets/js/utils.js?dwadwa"></script>
    <div class="rightzx zxbtn"></div>
    <script>
        $(".zxbtn").click(function() {
            window.open("http://p.qiao.baidu.com/cps/chat?siteId=16253603&userId=20703937&siteToken=1a4266f06c71f266a1cb0f92791a9897");
        })

        function btnPayClick() {
            utils.openLayer({
                title: "购买{content.Title}",
                width: 650,
                height: 500,
                url: "/assets/shopping/layer/pay.html?siteId={content.SiteId}&channelId={content.ChannelId}&productId={content.Id}&title={content.Title}" +
                    "&summary={content.Summary}&price={content.Price}&count=" + $("#count").val()
            })
        }
    </script>
</body>

</html>