<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{Stl.SiteUrl}/css/rootstyle.css?v=202104232">
    <link rel="stylesheet" href="{Stl.SiteUrl}/css/style.css?v=202100601">
    <link rel="stylesheet" type="text/css" href="/themes/20210715/css/base.css">
    <link rel="stylesheet" type="text/css" href="/themes/20210715/css/index.css">
    <link rel="stylesheet" type="text/css" href="/themes/20210715/css/swiper-bundle.min.css">
    <title>{Stl.SeoTitle} - {Stl.SiteName}</title>
    <meta name="description" content="{Stl.Description}" />
    <meta name="keywords" content="{Stl.Keywords}" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?0103cfac04c0efb249421b756d92b383";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <div class="nav_top">
        <div class="wid1200 clearfix">
            <a href="https://88.zbj.com/m?fr=gcfhc" target="_blank"><img src="/themes/20210715/images/logo_88.png" class="fl logo_88"></a>
            <div class="fl time_step">
                <ul class="clearfix">
                    <li class="fl step1">
                        <div class="clearfix">
                            <p class="fl step_times">7.19-8.5</p>
                            <div class="fl step_box">
                                <p class="step_boxp1">试用1元起</p>
                                <p class="step_boxp2">8888个企业福利抢先领</p>
                            </div>
                        </div>
                    </li>
                    <li class="fl step2">
                        <div class="clearfix">
                            <p class="fl step_times">8.6-8.8</p>
                            <div class="fl step_box">
                                <p class="step_boxp1">低至2折</p>
                                <p class="step_boxp2">爆品直降嗨购全场</p>
                            </div>
                        </div>
                    </li>
                    <li class="fl step3">
                        <div class="clearfix">
                            <p class="fl step_times">8.9-8.31</p>
                            <div class="fl step_box">
                                <p class="step_boxp1">返场特惠</p>
                                <p class="step_boxp2">行业热销服务限量抢</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- banner -->
    <div class="banner_box">
        <div class="wid1200" align="center">
            <img src="/themes/20210715/images/banner_pic.png" class="banner_pic">
        </div>
    </div>

    <div class="index_box1 be000e">
        <div class="wid1200" align="center">
            <p class="ind_bt scb">猪八戒网八月八，企业服务狂欢节，2折起！</p>
            <div class="ind_sbt">
                <p class="ind_sbt1 scm"> <img src="/themes/20210715/images/s_btbacle.png" class="s_btbacle">狂欢福利享不停 <img src="/themes/20210715/images/s_btbacri.png" class="s_btbacri"></p>
                <p class="ind_sbt2 scl">超值优惠券大放送，各种优惠福利享不停</p>
            </div>

            <ul class="clearfix">
                <li class="fl">
                    <div class="clearfix in1li_box">
                        <p class="ind1_p1 scb">￥</p>
                        <p class="ind1_p2 scb">100</p>
                    </div>
                    <p class="ind1_p3 scr">满1000元使用</p>
                    <p class="ind1_p4 scm xy-form-btn" data-title="超值优惠券大放送，各种优惠福利享不停" data-successTxt="优惠券领取成功！">立即领取</p>
                </li>

                <li class="fl">
                    <div class="clearfix in1li_box">
                        <p class="ind1_p1 scb">￥</p>
                        <p class="ind1_p2 scb">200</p>
                    </div>
                    <p class="ind1_p3 scr">满2000元使用</p>
                    <p class="ind1_p4 scm xy-form-btn" data-title="超值优惠券大放送，各种优惠福利享不停" data-successTxt="优惠券领取成功！">立即领取</p>
                </li>

                <li class="fl">
                    <div class="clearfix in1li_box">
                        <p class="ind1_p1 scb">￥</p>
                        <p class="ind1_p2 scb">500</p>
                    </div>
                    <p class="ind1_p3 scr">满5000元使用</p>
                    <p class="ind1_p4 scm xy-form-btn" data-title="超值优惠券大放送，各种优惠福利享不停" data-successTxt="优惠券领取成功！">立即领取</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="index_box2 be000e">
        <div class="wid1200" align="center">
            <div class="ind_sbt">
                <p class="ind_sbt1 scm"><img src="/themes/20210715/images/s_btbacle.png" class="s_btbacle">热门推荐 万人疯抢 <img src="/themes/20210715/images/s_btbacri.png" class="s_btbacri"></p>
                <p class="ind_sbt2 scl">8.8节，抢到就是赚到</p>
            </div>

            <div class="swiper-container sw_box2">
                <div class="swiper-wrapper">
                    <stl:contents channelName="热门推荐" isImage="true" totalNum="5">
                        <div class="swiper-slide">
                            <stl:content type="ImageUrl"></stl:content>
                        </div>
                    </stl:contents>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>

            <p class="in2_boxp1 scm">改善型别墅设计 高级设计师设计</p>
            <p class="in2_boxp2 scm">效果可落地93%以上</p>
            <p class="in2_boxp3 scl">原价：58元/平米</p>
            <div class="">
                <p class="scb  in2_boxp4">8.8劲爆价:</p>
                <p class="scb in2_boxp5">38元/平米</p>
            </div>

            <a href="javascript:void(0);" class="ljgm scr xy-form-btn" data-title="改善型别墅设计 高级设计师设计">立即购买</a>
        </div>
    </div>

    <div class="index_box3 be000e">
        <div class="wid1200" align="center">
            <div class="ind_sbt">
                <p class="ind_sbt1 scm"><img src="/themes/20210715/images/s_btbacle.png" class="s_btbacle">人气推荐·HOT <img src="/themes/20210715/images/s_btbacri.png" class="s_btbacri"></p>
                <p class="ind_sbt2 scl">超高人气推荐产品等你来抢</p>
            </div>

            <ul class="clearfix">
                <stl:contents channelName="人气推荐" isImage="true" order="back" totalNum="3">
                    <li class="fl">
                        <stl:content type="ImageUrl"></stl:content>
                        <p class="in3_boxp1 scm">{content.Title}</p>
                        <p class="in3_boxp2 scl">{content.subTitle}</p>
                        <a href="javascript:void(0);" class="ljzx scr in3_boxp3 xy-form-btn" data-title="{content.Title}">立即咨询</a>
                    </li>
                </stl:contents>
            </ul>
        </div>
    </div>

    <div class="index_box4 be000e">
        <div class="wid1200" align="center">
            <div class="ind_sbt">
                <p class="ind_sbt1 scm"><img src="/themes/20210715/images/s_btbacle.png" class="s_btbacle">更多热门产品 全民疯抢 <img src="/themes/20210715/images/s_btbacri.png" class="s_btbacri"></p>
                <p class="ind_sbt2 scl">官方推荐超高性价比热门产品，此时不抢更待何时</p>
            </div>
            <ul class="clearfix">
                <stl:contents channelName="热门产品" isImage="true" order="back" totalNum="16">
                    <li class="fl">
                        <stl:content type="ImageUrl"></stl:content>
                        <p class="scm in4_boxp1">{content.Title}</p>
                        <p class="scl in4_boxp2">{content.subTitle}</p>
                        <div>
                            <p class="scm in4_boxp3">特惠：</p>
                            <p class="scb in4_boxp4">{content.Price}</p>
                            <p class="scm in4_boxp3">{content.Source}</p>
                        </div>
                        <a href="javascript:void(0);" class="ljzx2 scr xy-form-btn" data-title="{content.Title}">立即咨询</a>
                    </li>
                </stl:contents>
            </ul>
        </div>
    </div>

    <div class="index_box5 be000e">
        <div class="wid1200" align="center">
            <img src="/themes/20210715/images/ind5_bt.png">
            <div class="index_box5d">
                <p class="scr">2021全年限量招募<span class="scb">100名</span>虚位以待</p>
            </div>

            <div class="clearfix ind5_dall">
                <div class="fl ind5_d">
                    <p class="scn">您身边的朋友都在做 <span class="scb">工程项目</span> </p>
                </div>

                <img src="/themes/20210715/images/shou.png" class="shou">

                <div class="fr ind5_d">
                    <p class="scn">您可以成为我们的 <span class="scb">资质合伙人</span> </p>
                </div>
            </div>
            <div class="clearfix ind5_dall">
                <div class="fl ind5_d">
                    <p class="scn">您身边的朋友都需要做 <span class="scb">税务筹划</span> </p>
                </div>

                <img src="/themes/20210715/images/shou.png" class="shou">

                <div class="fr ind5_d">
                    <p class="scn">您可以成为我们的 <span class="scb">税筹合伙人</span> </p>
                </div>
            </div>
            <div class="clearfix ind5_dall">
                <div class="fl ind5_d">
                    <p class="scn">如果您想和我们八戒工程 <span class="scb">合作项目</span> </p>
                </div>

                <img src="/themes/20210715/images/shou.png" class="shou">

                <div class="fr ind5_d">
                    <p class="scn">您可以成为我们的 <span class="scb">品牌合伙人</span> </p>
                </div>
            </div>
        </div>

    </div>

    <div class="index_box6 be000e">
        <div class="wid1200" align="center">
            <p class="scn ind6_bt">我们可以为您提供</p>

            <ul class="clearfix">
                <li class="fl">
                    <img src="/themes/20210715/images/ind6_p1.png">
                    <p class="scr ind6_p1">高于行业的销售返点</p>
                </li>
                <li class="fl">
                    <img src="/themes/20210715/images/ind6_p2.png">
                    <p class="scr ind6_p1">八戒工程资源共享</p>
                </li>
                <li class="fl">
                    <img src="/themes/20210715/images/ind6_p3.png">
                    <p class="scr ind6_p1">八戒工程品牌授权</p>
                </li>
            </ul>

            <a href="javascript:void(0);" class="scr hzhb xy-form-btn" data-title="申请成为合作伙伴">立即申请成为合作伙伴</a>
        </div>
    </div>

    <div class="foot be000e" align="center">
        <p class="scl">Copyright © 2021 八戒工程</p>
    </div>




    <div class="floatCtro">

        <img src="/themes/20210715/images/dh_lep.png">
        <a href="">
            <img src="/themes/20210715/images/zhc.png" class="zhc">
        </a>
        <ul class="">
            <li class="">
                <a href="" class="fll_a1">知识产权分会场></a>
                <div class="fll_a2">
                    <p><a href="" class="axs">商标注册</a> <a href="">版权登记</a></p>
                </div>
            </li>
            <li class="">
                <a href="" class="fll_a1">工商财税分会场></a>
                <div class="fll_a2">
                    <p><a href="" class="">公司注册</a> <a href="">代理记账</a></p>
                </div>
            </li>
            <li class="">
                <a href="" class="fll_a1">品牌设计分会场></a>
                <div class="fll_a2">
                    <p><a href="" class="">logo设计</a> <a href="">包装设计</a></p>
                </div>
            </li>
            <li class="">
                <a href="" class="fll_a1">营销推广分会场></a>
                <div class="fll_a2">
                    <p><a href="" class="">营销策划</a> <a href="">电商运营</a></p>
                </div>
            </li>
            <li class="">
                <a href="" class="fll_a1">软件开发分会场></a>
                <div class="fll_a2">
                    <p><a href="" class="">微信开发</a> <a href="">网站建设</a></p>
                </div>
            </li>
            <li class="">
                <a href="" class="fll_a1">科技服务分会场></a>
                <div class="fll_a2">
                    <p><a href="" class="">高企认证</a> <a href="">软著登记</a></p>
                </div>
            </li>
            <li class="">
                <a href="" class="fll_a1">工程设计分会场></a>
                <div class="fll_a2">
                    <p><a href="https://gc.zbj.com/88/" class="">装修设计</a> <a href="">建筑景观</a></p>
                </div>
            </li>
        </ul>
        <div class="dhle_btn">
            <div class="" align="center">
                <img src="/themes/20210715/images/jt.png" class="jt">
                <p>收起导航</p>
            </div>
        </div>

    </div>

    <div class="floatCtrori">
        <div class="">
            <ul class="clearfix">
                <li class="">
                    <img src="/themes/20210715/images/wxzx.png">
                    <div class="dds">
                        <img src="/themes/20210715/images/ewm.png" class="ewm">
                    </div>
                </li>
                <li class="">
                    <img src="/themes/20210715/images/zxzx.png" class="zxbtn">
                </li>
                <li class="">
                    <img src="/themes/20210715/images/dhlx.png">
                </li>
                <li class="">
                    <img src="/themes/20210715/images/xwtw.png" class="zxbtn">
                </li>
            </ul>

            <a href="javascript:;" class="up">
                <img src="/themes/20210715/images/hddb.png">
            </a>
        </div>

    </div>

    <script type="text/javascript" src="/themes/20210715/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/themes/20210715/js/swiper-bundle.min.js"></script>

    <script type="text/javascript">
        let time1 = "2021-07-11 00:00:00";
        var dad1 = new Date(time1).getTime()
        let time2 = "2021-08-05 23:59:59";
        var dad2 = new Date(time2).getTime()

        let time3 = "2021-08-06 00:00:00";
        var dad3 = new Date(time3).getTime()
        let time4 = "2021-08-08 23:59:59";
        var dad4 = new Date(time4).getTime()


        let time5 = "2021-08-09 00:00:00";
        var dad5 = new Date(time5).getTime()
        let time6 = "2021-08-31 23:59:59";
        var dad6 = new Date(time6).getTime()


        // 第一段
        function nowInDateBetwen1(d1, d2) {
            //如果时间格式是正确的，那下面这一步转化时间格式就可以不用了
            // var dateBegin = new Date(d1.replace(/-/g, "/"));//将-转化为/，使用new Date
            // var dateEnd = new Date(d2.replace(/-/g, "/"));//将-转化为/，使用new Date
            var dateBegin = new Date(d1); //将-转化为/，使用new Date
            var dateEnd = new Date(d2); //将-转化为/，使用new Date
            var dateNow = new Date(); //获取当前时间

            var beginDiff = dateNow.getTime() - dateBegin.getTime(); //时间差的毫秒数       
            var beginDayDiff = Math.floor(beginDiff / (24 * 3600 * 1000)); //计算出相差天数

            var endDiff = dateEnd.getTime() - dateNow.getTime(); //时间差的毫秒数
            var endDayDiff = Math.floor(endDiff / (24 * 3600 * 1000)); //计算出相差天数       
            if (endDayDiff < 0) { //已过期
                $('.step1').remove('step_act')
                return false
            }
            if (beginDayDiff < 0) { //没到开始时间
                $('.step1').remove('step_act')
                return false;
            }
            $('.step1').addClass('step_act')
            return true;
        }

        nowInDateBetwen1(dad1, dad2)

        // 第二段
        function nowInDateBetwen2(d1, d2) {


            //如果时间格式是正确的，那下面这一步转化时间格式就可以不用了
            // var dateBegin = new Date(d1.replace(/-/g, "/"));//将-转化为/，使用new Date
            // var dateEnd = new Date(d2.replace(/-/g, "/"));//将-转化为/，使用new Date
            var dateBegin = new Date(d1); //将-转化为/，使用new Date
            var dateEnd = new Date(d2); //将-转化为/，使用new Date
            var dateNow = new Date(); //获取当前时间

            var beginDiff = dateNow.getTime() - dateBegin.getTime(); //时间差的毫秒数       
            var beginDayDiff = Math.floor(beginDiff / (24 * 3600 * 1000)); //计算出相差天数

            var endDiff = dateEnd.getTime() - dateNow.getTime(); //时间差的毫秒数
            var endDayDiff = Math.floor(endDiff / (24 * 3600 * 1000)); //计算出相差天数       
            if (endDayDiff < 0) { //已过期
                $('.step2').remove('step_act')
                return false
            }
            if (beginDayDiff < 0) { //没到开始时间
                $('.step2').remove('step_act')
                return false;
            }
            $('.step2').addClass('step_act')
            return true;
        }

        nowInDateBetwen2(dad3, dad4)

        // 第三段
        function nowInDateBetwen3(d1, d2) {


            //如果时间格式是正确的，那下面这一步转化时间格式就可以不用了
            // var dateBegin = new Date(d1.replace(/-/g, "/"));//将-转化为/，使用new Date
            // var dateEnd = new Date(d2.replace(/-/g, "/"));//将-转化为/，使用new Date
            var dateBegin = new Date(d1); //将-转化为/，使用new Date
            var dateEnd = new Date(d2); //将-转化为/，使用new Date
            var dateNow = new Date(); //获取当前时间

            var beginDiff = dateNow.getTime() - dateBegin.getTime(); //时间差的毫秒数       
            var beginDayDiff = Math.floor(beginDiff / (24 * 3600 * 1000)); //计算出相差天数

            var endDiff = dateEnd.getTime() - dateNow.getTime(); //时间差的毫秒数
            var endDayDiff = Math.floor(endDiff / (24 * 3600 * 1000)); //计算出相差天数       
            if (endDayDiff < 0) { //已过期
                $('.step3').remove('step_act')
                return false
            }
            if (beginDayDiff < 0) { //没到开始时间
                $('.step3').remove('step_act')
                return false;
            }
            $('.step3').addClass('step_act')
            return true;
        }

        nowInDateBetwen3(dad5, dad6)
    </script>

    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
            },

            autoHeight: true
        });
    </script>



    <script>
        $(function() {

            var AllHet = $(window).height();

            var mainHet = $('.floatCtro').height();

            var fixedTop = (AllHet - mainHet) / 35

            $('div.floatCtro').css({
                top: fixedTop + 'px'
            });


            $(window).scroll(scrolls)

            scrolls()

            function scrolls() {

                var fixRight = $('div.floatCtro p');

                var blackTop = $('div.floatCtro a')

                var sTop = $(window).scrollTop();


                var topPx = sTop + fixedTop

                $('div.floatCtro').stop().animate({
                    top: topPx
                });
            }



            var AllHetri = $(window).height();

            var mainHetri = $('.floatCtrori').height();

            var fixedTopri = (AllHetri - mainHetri) / 35

            $('div.floatCtrori').css({
                top: fixedTop + 'px'
            });


            $('div.floatCtrori .up').click(function() {

                $('body,html').animate({
                    scrollTop: 0
                }, 1000)

            })

            $(window).scroll(scrollsri)

            scrollsri()

            function scrollsri() {

                var fixRightri = $('div.floatCtrori p');

                var blackTopri = $('div.floatCtrori a')

                var sTopri = $(window).scrollTop();


                var topPxri = sTopri + fixedTopri

                $('div.floatCtrori').stop().animate({
                    top: topPxri
                });
            }
        })
    </script>

    <script type="text/javascript">
        $('.dhle_btn').click(function() {
            if ($('.floatCtro ul').hasClass('shis')) {
                $('.floatCtro ul').slideDown();
                $('.floatCtro ul').removeClass('shis')
                $(this).find($('p')).text('收起导航');
                $('.jt').removeClass('zhuan')
                $(this).removeClass('mart')
            } else {
                $('.floatCtro ul').slideUp();
                $('.floatCtro ul').addClass('shis');
                $(this).find($('p')).text('展开导航');
                $('.jt').addClass('zhuan')
                $(this).addClass('mart')
            }
        })
        $('.zxbtn').click(function() {
            window.open("//p.qiao.baidu.com/cps/chat?siteId=9257917&userId=20703937&siteToken=a25cb6e03bf7c10ac76134bcc03779b1");
        });
    </script>

    <!--商机提交-->
    <stl:include file="include/form.html"></stl:include>

    <!--友盟cnzz站点统计-->
    <div style="display: none;">
        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1279850217&web_id=1279850217"></script>
    </div>
</body>

</html>