<!doctype html>
<html class="no-js" lang="zh-cn">

<head>
    <stl:include file="{Stl.SiteUrl}/include/head.html"></stl:include>
</head>

<body>
    <stl:include file="{Stl.SiteUrl}/include/header.html"></stl:include>
    <stl:include file="{Stl.SiteUrl}/include/menu.html"></stl:include>
    <div class="container-fluid">
        <div class="row">
            <img src="/images/xczx/bg_xczx_01_1.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <a href="javascript:void(0);" class="xy-form-btn"><img src="/images/xczx/bg_xczx_01_2.png" class="img-responsive center-block" alt="" /></a>
        </div>
        <div class="row">
            <img src="/images/xczx/bg_xczx_01_3.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <img src="/images/xczx/bg_xczx_02.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <a href="javascript:void(0);" class="xy-form-btn"><img src="/images/xczx/bg_xczx_03.png" class="img-responsive center-block" alt="" /></a>
        </div>
        <div class="row">
            <a href="javascript:void(0);" class="xy-form-btn"><img src="/images/xczx/bg_xczx_04.png" class="img-responsive center-block" alt="" /></a>
        </div>
        <div class="row">
            <img src="/images/xczx/bg_xczx_05.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <a href="//p.qiao.baidu.com/cps/chat?siteId=16253603&userId=20703937&siteToken=1a4266f06c71f266a1cb0f92791a9897" target="_blank"><img src="/images/xczx/bg_xczx_06.png" class="img-responsive center-block" alt="" /></a>
        </div>
    </div>
    <stl:include file="{Stl.SiteUrl}/include/footer.html"></stl:include>
    <script src="{Stl.SiteUrl}/js/main.js?WAWD"></script>

    <div class="rightzx2 zxbtn"></div>
    <script>
        $(".zxbtn").click(function() {
            window.open("//p.qiao.baidu.com/cps/chat?siteId=9257917&userId=20703937&siteToken=a25cb6e03bf7c10ac76134bcc03779b1");
        })
    </script>

    <stl:include file="include/form.html"></stl:include>
    <script>
        $(function() {
            initFormTextholder("简单描述您的项目内容：例如我需要田园综合体");
        });
    </script>
</body>

</html>