<!doctype html>
<html class="no-js" lang="zh-cn">

<head>
    <stl:include file="include/head.html"></stl:include>
</head>

<body>
    <stl:include file="{Stl.SiteUrl}/include/header.html"></stl:include>
    <stl:include file="{Stl.SiteUrl}/include/menu.html"></stl:include>
    <div class="container-fluid">
        <div class="page citybg">
            <div class="wal city_01">
                <div class="img-1"><img src="https://gc.zbjimg.com/project/web/2021/08/25/fc2140fdbe102d22.png/origine/9c338ff5-8624-42e7-9e81-e89c9dfb5806" alt=""></div>
                <div class="list">
                    <ul>
                        <li>
                            <a href="javascript:void(0);">
                                <div><img src="{Stl.SiteUrl}/images/img100_1.png" alt=""></div>
                                <h2>提升价值</h2>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div><img src="{Stl.SiteUrl}/images/img100_2.png" alt=""></div>
                                <h2>增强实力</h2>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div><img src="{Stl.SiteUrl}/images/img100_3.png" alt=""></div>
                                <h2>居民自豪</h2>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div><img src="{Stl.SiteUrl}/images/img100_4.png" alt=""></div>
                                <h2>游客向往</h2>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div><img src="{Stl.SiteUrl}/images/img100_5.png" alt=""></div>
                                <h2>招商引资</h2>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div><img src="{Stl.SiteUrl}/images/img100_6.png" alt=""></div>
                                <h2>人才汇聚</h2>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btn"><a href="http://p.qiao.baidu.com/cps/chat?siteId=9257917&amp;userId=20703937" target="_blank">立即咨询</a></div>
            </div>
            <div class="wal city_02">
                <div class="title">服务项目</div>
                <div class="list">
                    <ul>
                        <li>
                            <div class="img"><img src="{Stl.SiteUrl}/images/img215_1.png" alt=""></div>
                            <h2>城市品牌<br>定位打造</h2>
                        </li>
                        <li>
                            <div class="img"><img src="{Stl.SiteUrl}/images/img215_2.png" alt=""></div>
                            <h2>品牌视觉<br>识别系统</h2>
                        </li>
                        <li>
                            <div class="img"><img src="{Stl.SiteUrl}/images/img215_3.png" alt=""></div>
                            <h2>城市IP形象<br>设计打造</h2>
                        </li>
                        <li>
                            <div class="img"><img src="{Stl.SiteUrl}/images/img215_4.png" alt=""></div>
                            <h2>文创产品<br>设计制作</h2>
                        </li>
                        <li>
                            <div class="img"><img src="{Stl.SiteUrl}/images/img215_5.png" alt=""></div>
                            <h2>品牌活动<br>宣传推广</h2>
                        </li>
                    </ul>
                </div>
                <div class="title">我们的优势</div>
                <div class="list2">
                    <ul>
                        <li>
                            <div class="img"><img src="{Stl.SiteUrl}/images/img80_1.png" alt=""></div>
                            <div class="name">百万在线<br>设计师</div>
                        </li>
                        <li>
                            <div class="img"><img src="{Stl.SiteUrl}/images/img80_2.png" alt=""></div>
                            <div class="name">70城营销<br>专家智库</div>
                        </li>
                        <li>
                            <div class="img"><img src="{Stl.SiteUrl}/images/img80_3.png" alt=""></div>
                            <div class="name">专人专职<br>服务团队</div>
                        </li>
                        <li>
                            <div class="img"><img src="{Stl.SiteUrl}/images/img80_4.png" alt=""></div>
                            <div class="name">大赛营销<br>海量创意</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="city_03">
                <div class="title">我们的案例</div>
                <div class="row mb-20">
                    <stl:contents channelName="品牌营销" totalNum="4">
                        <stl:itemTemplate type="Item">
                            <div class="col-xs-6 col-md-3">
                                <stl:a target="_blank"><img class="img-thumbnail center-block" src="{content.imageUrl}" alt="" /></stl:a>
                            </div>
                        </stl:itemTemplate>
                    </stl:contents>
                </div>
            </div>
            <div class="city_04 wal">
                <div class="ljsjdzform">
                    <stl:form name="定制设计" type="submit2"></stl:form>
                </div>
            </div>
        </div>
    </div>
    <stl:include file="{Stl.SiteUrl}/include/footer.html"></stl:include>
    <script src="{Stl.SiteUrl}/js/main.js?WAWD"></script>

    <div class="rightzx2 zxbtn"></div>
    <script>
        $(".zxbtn").click(function() {
            window.open("//p.qiao.baidu.com/cps/chat?siteId=9257917&userId=20703937&siteToken=a25cb6e03bf7c10ac76134bcc03779b1");
        })
    </script>

    <stl:include file="include/form.html"></stl:include>
    <script>
        $(function() {
            initFormTextholder("企业服务：资质办理 人才猎聘，股权转让，税筹筹划，票务优化 ，灵活用工，资质加盟，项目合作 ，品牌合作");
        });
    </script>
</body>

</html>