<!DOCTYPE HTML>
<html lang="zh-Hans">

<head>
    <stl:include file="{Stl.SiteUrl}/include/head.html"></stl:include>
</head>

<body>
    <stl:include file="{Stl.SiteUrl}/include/header.html"></stl:include>
    <stl:include file="{Stl.SiteUrl}/include/menu.html"></stl:include>
    <div class="container-fluid">
        <div class="row">
            <img src="/images/pphy/bg_pphy_01.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <img src="/images/pphy/bg_pphy_02.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <a href="javascript:void(0);" class="xy-form-btn"><img src="/images/pphy/bg_pphy_03.png" class="img-responsive center-block" alt="" /></a>
        </div>
        <div class="row">
            <img src="/images/pphy/bg_pphy_04.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <img src="/images/pphy/bg_pphy_05.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <a href="javascript:void(0);" class="xy-form-btn"><img src="/images/pphy/bg_pphy_06.png" class="img-responsive center-block" alt="" /></a>
        </div>
        <div class="row">
            <img src="/images/pphy/bg_pphy_07.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <a href="javascript:void(0);" class="xy-form-btn"><img src="/images/pphy/bg_pphy_08.png" class="img-responsive center-block" alt="" /></a>
        </div>
    </div>
    <stl:include file="include/footer.html"></stl:include>
    <script src="{Stl.SiteUrl}/js/main.js"></script>

    <div class="rightzx2 zxbtn"></div>
    <script>
        $(".zxbtn").click(function() {
            window.open("//p.qiao.baidu.com/cps/chat?siteId=9257917&userId=20703937&siteToken=a25cb6e03bf7c10ac76134bcc03779b1");
        })
    </script>

    <stl:include file="include/form.html"></stl:include>
    <script>
        $(function() {
            initFormTextholder("品牌会员、合伙人招募");
        });
    </script>
</body>

</html>