<!doctype html>
<html class="no-js" lang="zh-cn">

<head>
    <stl:include file="include/head.html"></stl:include>
</head>

<body class="jsy">
    <stl:include file="{Stl.SiteUrl}/include/header.html"></stl:include>
    <stl:include file="{Stl.SiteUrl}/include/menu.html"></stl:include>
    <div class="ztbanner">
        <stl:contents totalNum="3" channelName="建筑规划" groupContent="建筑规划Banner大图">
            <stl:itemTemplate type="Item">
                <div class="slide">
                    <div class="searchbox">
                        <div class="form">
                            <input id="mfbjphone" type="number" placeholder="请留下您的联系方式，设计师将免费为您提供专业意见" />
                            <button id="mfbj">免费报价</button>
                        </div>
                    </div>
                    <stl:if type="channelName" op="Equals" value="建筑规划">
                        <stl:yes>
                            <stl:image class="jianheight"></stl:image>
                        </stl:yes>
                        <stl:no>
                            <stl:image></stl:image>
                        </stl:no>
                    </stl:if>
                </div>
            </stl:itemTemplate>
        </stl:contents>
    </div>
    <div class="xzxqtck" id="xzxqtck">
        <div class="flex-c">
            <div class="tckbox">
                <div class="head">
                    <h2><i class="bi-check2-circle"></i>您的需求我们已经收到，我们的专业设计师将会火速联系您</h2>
                    <p>由于咨询人数较多，如遇排队，可能需要等候，请您耐心等待！</p>
                    <a class="close bi-x"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bge col-10">
        <div class="container">
            <div class="row">
                <div class="contentbox col-xs-12">
                    <div class="htitle" data-aos="fade-up" data-aos-delay="0">
                        <span>我们的案例</span>
                    </div>
                    <img width="100%" src="/images/gcsj/3801c18202d3264c2.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="container dwar231r355">
            <img src="/images/gcsj/7d83e87edb96556d.jpg">
        </div>
    </div>
    <div class="col-10">
        <img src="/images/gcsj/e1e3ca417fa13e59.png">
    </div>
    <div class="bge col-10">
        <div class="container">
            <div class="row">
                <div class="contentbox col-xs-12 col-lg-item-5">
                    <div class="htitle" data-aos="fade-up" data-aos-delay="0">
                        <span>服务流程</span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" data-aos="zoom-in" data-aos-delay="0">
                        <div class=" fwlcbox">
                            <div class="col-6">
                                <h3>沟通</h3>
                                <p>深入了解客户需求 讨论相关信息</p>
                            </div>
                            <div class="col-4">
                                <img src="/images/gcsj/95d53eb58e5609c1.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" data-aos="zoom-in" data-aos-delay="100">
                        <div class=" fwlcbox">
                            <div class="col-6">
                                <h3>报价</h3>
                                <p>为您报价及协商交货时间</p>
                            </div>
                            <div class="col-4">
                                <img src="/images/gcsj/6e0ca78845360b67.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" data-aos="zoom-in" data-aos-delay="200">
                        <div class=" fwlcbox">
                            <div class="col-6">
                                <h3>确认</h3>
                                <p>下单并确认开始 工作</p>
                            </div>
                            <div class="col-4">
                                <img src="/images/gcsj/b47439ab957fdbe4.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" data-aos="zoom-in" data-aos-delay="300">
                        <div class=" fwlcbox">
                            <div class="col-6">
                                <h3>小样</h3>
                                <p>出小样图及修改意见 达到客户满意</p>
                            </div>
                            <div class="col-4">
                                <img src="/images/gcsj/8d99910c31268bb5.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" data-aos="zoom-in" data-aos-delay="400">
                        <div class=" fwlcbox">
                            <div class="col-6">
                                <h3>完成</h3>
                                <p>出小样图及修改意见 达到客户满意</p>
                            </div>
                            <div class="col-4">
                                <img src="/images/gcsj/ea52b6882ebe61c3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-10">
        <div class="container">
            <div class="row">
                <div class="contentbox col-xs-12">
                    <div class="htitle" data-aos="fade-up" data-aos-delay="0">
                        <span>常见问题Q&A</span>
                    </div>
                    <ul class="cjwt col-10">
                        <stl:contents totalNum="6" channelName="建筑规划" groupContent="建筑规划常见问题">
                            <stl:itemTemplate type="Item">
                                <stl:if type="ItemIndex" op="Equals" value="1">
                                    <li data-aos="fade-left" data-aos-delay="0">
                                        <div class="col-1">
                                            <span>1</span>
                                        </div>
                                        <div class="col-9">
                                            <h3>{content.Title}</h3>
                                            <p>{content.Summary}</p>
                                        </div>
                                    </li>
                                </stl:if>
                                <stl:if type="ItemIndex" op="Equals" value="2">
                                    <li data-aos="fade-left" data-aos-delay="100">
                                        <div class="col-1">
                                            <span>2</span>
                                        </div>
                                        <div class="col-9">
                                            <h3>{content.Title}</h3>
                                            <p>{content.Summary}</p>
                                        </div>
                                    </li>
                                </stl:if>
                                <stl:if type="ItemIndex" op="Equals" value="3">
                                    <li data-aos="fade-left" data-aos-delay="200">
                                        <div class="col-1">
                                            <span>3</span>
                                        </div>
                                        <div class="col-9">
                                            <h3>{content.Title}</h3>
                                            <p>{content.Summary}</p>
                                        </div>
                                    </li>
                                </stl:if>
                                <stl:if type="ItemIndex" op="Equals" value="4">
                                    <li data-aos="fade-left" data-aos-delay="300">
                                        <div class="col-1">
                                            <span>4</span>
                                        </div>
                                        <div class="col-9">
                                            <h3>{content.Title}</h3>
                                            <p>{content.Summary}</p>
                                        </div>
                                    </li>
                                </stl:if>
                                <stl:if type="ItemIndex" op="Equals" value="5">
                                    <li data-aos="fade-left" data-aos-delay="400">
                                        <div class="col-1">
                                            <span>5</span>
                                        </div>
                                        <div class="col-9">
                                            <h3>{content.Title}</h3>
                                            <p>{content.Summary}</p>
                                        </div>
                                    </li>
                                </stl:if>
                                <stl:if type="ItemIndex" op="Equals" value="6">
                                    <li data-aos="fade-left" data-aos-delay="500">
                                        <div class="col-1">
                                            <span>6</span>
                                        </div>
                                        <div class="col-9">
                                            <h3>{content.Title}</h3>
                                            <p>{content.Summary}</p>
                                        </div>
                                    </li>
                                </stl:if>
                            </stl:itemTemplate>
                        </stl:contents>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="hzkh-grid">
        <div class="container jsy">
            <div class="htitle" data-aos="fade-up" data-aos-delay="0">
                <span>合作伙伴</span>
            </div>
            <ul class="hzkh-shows ">
                <li class="col-xs-6 col-sm-3">
                    <img src="/images/gcsj/ebf43ba62ba7974b.jpg">
                </li>
                <li class="col-xs-6 col-sm-3">
                    <img src="/images/gcsj/6ebdef9f8e61dc72.jpg">
                </li>
                <li class="col-xs-6 col-sm-3">
                    <img src="/images/gcsj/121c9379a537b05a.jpg">
                </li>
                <li class="col-xs-6 col-sm-3">
                    <img src="/images/gcsj/ee0fd8edff6da98f.jpg">
                </li>
                <li class="col-xs-6 col-sm-3">
                    <img src="/images/gcsj/92c45187663b441f.png">
                </li>
                <li class="col-xs-6 col-sm-3">
                    <img src="/images/gcsj/9ac8941fa72858c3.jpg">
                </li>
                <li class="col-xs-6 col-sm-3">
                    <img src="/images/gcsj/5b8dfeba6c9b4fe6.jpg">
                </li>
                <li class="col-xs-6 col-sm-3">
                    <img src="/images/gcsj/d4fe0fbe516dacf6.jpg">
                </li>
            </ul>
        </div>
    </div>
    <div class="col-10">
        <div class="container">
            <div class="ljsjdzform">
                <stl:form name="定制设计" type="submit2"></stl:form>
            </div>
        </div>
    </div>
    <div class="rightzx zxbtn"></div>
    <stl:include file="{Stl.SiteUrl}/include/footer.html"></stl:include>
    <script src="{Stl.SiteUrl}/js/main.js"></script>
    <script src="{Stl.SiteUrl}/js/xiaoguotu.js?v=1.0"></script>
    <script type="text/javascript">
        //判断是否手机访问 如果是跳转 
        try {
            var urlhash = window.location.hash;
            if (!urlhash.match("fromapp")) {
                if ((navigator.userAgent.match(/(iPhone|iPod|Android|ios|iPad)/i))) {
                    window.location = "https://xc.zbj.com/dist/20170925-386/index.html";
                }
            }
        } catch (err) {}
    </script>

</body>

</html>