<!DOCTYPE HTML>
<html lang="zh-cn">

<head>
    <stl:include file="{Stl.SiteUrl}/include/head.html"></stl:include>
</head>

<body>
    <stl:include file="{Stl.SiteUrl}/include/header.html"></stl:include>
    <stl:include file="{Stl.SiteUrl}/include/menu.html"></stl:include>
    <div class="container-fluid">
        <div class="row">
            <a href="javascript:void(0);" class="xy-form-btn"><img src="/images/wccp/bg_wccp_01.png" class="img-responsive center-block" alt="" /></a>
        </div>
        <div class="row">
            <a href="//p.qiao.baidu.com/cps/chat?siteId=9257917&userId=20703937&siteToken=a25cb6e03bf7c10ac76134bcc03779b1" target="_blank"><img src="/images/wccp/bg_wccp_02.png" class="img-responsive center-block" alt="" /></a>
        </div>
        <div class="row">
            <img src="/images/wccp/bg_wccp_03.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <img src="/images/wccp/bg_wccp_04.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <img src="/images/wccp/bg_wccp_05.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <img src="/images/wccp/bg_wccp_06.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <img src="/images/wccp/bg_wccp_07.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <img src="/images/wccp/bg_wccp_08.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <img src="/images/wccp/bg_wccp_09.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <img src="/images/wccp/bg_wccp_10.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <img src="/images/wccp/bg_wccp_11.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <img src="/images/wccp/bg_wccp_12.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <img src="/images/wccp/bg_wccp_13.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <img src="/images/wccp/bg_wccp_14.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <img src="/images/wccp/bg_wccp_15.png" class="img-responsive center-block" alt="" />
        </div>
        <div class="row">
            <div style="margin: 0 auto;width:50%;overflow:hidden;">
                <stl:form name="定制设计" type="submit2"></stl:form>
            </div>
        </div>
    </div>
    <stl:include file="include/footer.html"></stl:include>
    <script src="{Stl.SiteUrl}/js/main.js"></script>

    <div class="rightzx2 zxbtn"></div>
    <script>
        $(".zxbtn").click(function() {
            window.open("//p.qiao.baidu.com/cps/chat?siteId=9257917&userId=20703937&siteToken=a25cb6e03bf7c10ac76134bcc03779b1");
        })
    </script>

    <stl:include file="include/form.html"></stl:include>
    <script>
        $(function() {
            initFormTextholder("文创产品");
        });
    </script>
</body>

</html>