<!doctype html>
<html class="no-js" lang="zh-cn">
<head>
    <stl:include file="include/head.html"></stl:include>
</head>
<body>
    <stl:include file="{Stl.SiteUrl}/include/header.html"></stl:include>
    <stl:include file="{Stl.SiteUrl}/include/menu.html"></stl:include>
    <div class="container">
        <div class="navigation">
                <stl:include file="{Stl.SiteUrl}/include/navigation.html"></stl:include>
        </div>
    </div>
    <div class="container">
        <div class="row mt-20">
            <img src="{Stl.SiteUrl}/images/img_underconstruction.jpg" class="img-responsive" alt="" />
        </div>
    </div>
    <stl:include file="{Stl.SiteUrl}/include/footer.html"></stl:include>
    <script src="{Stl.SiteUrl}/js/main.js"></script>
</body>
</html>
