<!doctype html>
<html class="no-js" lang="zh-cn">

<head>
    <stl:include file="include/head.html"></stl:include>
</head>

<body>
    <stl:include file="{Stl.SiteUrl}/include/header.html"></stl:include>
    <stl:include file="{Stl.SiteUrl}/include/menu.html"></stl:include>
    <div class="container-fluid">
        <div class="row">
            <a href="javascript:void(0);" class="xy-form-btn"><img src="/images/rcfw/bg_rcfw_01.png" class="img-responsive" alt="" /></a>
        </div>
        <div class="row">
            <a href="javascript:void(0);" class="xy-form-btn"><img src="/images/rcfw/bg_rcfw_02.png" class="img-responsive" alt="" /></a>
        </div>
        <div class="row">
            <a href="javascript:void(0);" class="xy-form-btn"><img src="/images/rcfw/bg_rcfw_03.png" class="img-responsive" alt="" /></a>
        </div>
        <div class="row">
            <img src="/images/rcfw/bg_rcfw_04.png" class="img-responsive" alt="" />
        </div>
        <div class="row">
            <img src="/images/rcfw/bg_rcfw_05.png" class="img-responsive" alt="" />
        </div>
        <div class="row">
            <a href="javascript:void(0);" class="xy-form-btn"><img src="/images/rcfw/bg_rcfw_06.png" class="img-responsive" alt="" /></a>
        </div>
    </div>
    <stl:include file="{Stl.SiteUrl}/include/footer.html"></stl:include>
    <script src="{Stl.SiteUrl}/js/main.js"></script>

    <div class="rightzx2 zxbtn"></div>
    <script>
        $(".zxbtn").click(function() {
            window.open("//p.qiao.baidu.com/cps/chat?siteId=9257917&userId=20703937&siteToken=a25cb6e03bf7c10ac76134bcc03779b1");
        })
    </script>

    <stl:include file="include/form.html"></stl:include>
    <script>
        $(function() {
            initFormTextholder("企业服务：资质办理 人才猎聘，股权转让，税筹筹划，票务优化 ，灵活用工，资质加盟，项目合作 ，品牌合作");
        });
    </script>
</body>

</html>